* { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-weight: normal; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* INCLUDE FONTS */

@font-face {
	font-family: Frutiger;
	src: url('../fonts/Frutiger-roman.eot');
	src: url('../fonts/Frutiger-roman.woff') format('woff'), url('../fonts/Frutiger-roman.otf') format('opentype'), url('../fonts/Frutiger-roman.ttf') format('truetype'), url('../fonts/Frutiger-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Frutiger-c;
	src: url('../fonts/Frutiger-condensed.eot');
	src: url('../fonts/Frutiger-condensed.woff') format('woff'), url('../fonts/Frutiger-condensed.otf') format('opentype'), url('../fonts/Frutiger-condensed.ttf') format('truetype'), url('../fonts/Frutiger-condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: Frutiger-cl;
	src: url("../fonts/Frutiger-condensed-light.otf") format("opentype");
}

@font-face {
	font-family: Frutiger-bc;
	src: url('../fonts/Frutiger-bold-condensed.eot');
	src: url('../fonts/Frutiger-bold-condensed.woff') format('woff'), url('../fonts/Frutiger-bold-condensed.otf') format('opentype'), url('../fonts/Frutiger-bold-condensed.ttf') format('truetype'), url('../fonts/Frutiger-bold-condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

textarea:focus, input:focus, button:focus{
    outline: 0;
}



/* TYPOGRAPHY */
h1, h2, h3 {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	font-family: 'Frutiger-bc';	
	color: #e53212;
	padding-left: 0;	
}
h1.pagetitle {
	font-size: 30px;
	margin-bottom: 20px;
}
h1.pagetitle span {
	width: 100%;
	float: left;
	font-size: 16px;
	font-weight: 100;
	color: #909090;
}
.news-events-detail .pagetitle span {
	font-family: 'Frutiger-bc', 'Open Sans';
	color: #e53212;
	font-size: 30px;
	margin-bottom: 20px;	
}

h2 {
	font-size: 24px;
	margin-top: 15px;
}
.page-content h2 {
	margin-bottom: 10px;
}
h3 {
	font-size: 18px;
	margin-top: 15px;
}
.page-content h3 {
	margin-bottom: 10px;
}
.spotlight h3, .spotlight h2 {
	margin-top: 0!important;
}


.heading {
	width: 100%;
	height: auto;
	float: left;
	font-family: 'Frutiger-c', sans-serif;
	font-size: 18px;
	color: #777b7f;
	margin-bottom: 15px;
	text-transform: uppercase;
}


p {
	width: 100%;
	float: left;
}
.page p, .page p a {
	font-size: 14px;
	line-height: 24px;
	
}
.page-content img {
	float: left;
}
p + ul, p + ul li {
	width: 100%;
	float: left;
	list-style: inside
}
	
.panel ul {
	width: 100%;
	float: left;
}
	.panel ul li, .panel ul li span {
		font-size: 14px;
		line-height: 24px;	
		list-style: inside;
	}

	p img {
		float: left;
		margin: 10px 20px 20px 0;
	}

blockquote {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 100;
	border-color: #FF6961;	
}
p + blockquote {
	margin: 15px 0;
}

p iframe {
	width: 100%;
	margin: 25px 0;
}


/* BASIC FORM STYLES */
form {
	width: 100%;
	float: left;
}
.content-page form {
	padding-top: 25px;
}

	.form-group {
		width: 100%;
		float: left;
		position: relative;
	}
	
		.form-group > div {
			padding: 0;
		}
	
		.form-group i {
			position: absolute;
			right:15px;
			top:12px;
		}
	
		form label {
			font-weight: normal;
			line-height: 40px;
			padding: 0!important;
			font-size: 14px;
		}
		label.radio, label.checkbox {
			width: auto;
			float: left;
			margin: 10px 0!important;
			padding-right: 15px!important;
			line-height: normal
		}

		.wpcf7-radio {
			width: auto;
			float: left;
			margin: 10px 0!important;
			line-height: normal
		}

		.wpcf7-radio span {
			padding-right: 15px!important;
		}
	
		form input {
			padding: 0;
			height: 40px;
			background: white;
			border: 1px solid #ccc;	
			appearance: none;				
		}
		input[type="text"], input[type="email"], input[type="submit"] {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			border-radius: 0;				
		}
		
		form input + input {
			border-left: none;
		}
		input[type=radio], input[type=checkbox] {
			height: auto;
		}
		.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], input[type=checkbox] {
			margin-left: 0;
			margin-right: 10px;
		}
				
		form select {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			height: 40px;
			border-radius: 0;
			background: white;
			border: 1px solid #ccc;
		}
	
		textarea {
			width: 100%;
			float: left;
			min-height: 140px;
			border: 1px solid #ccc;
			appearance: none;
			padding: 15px;
			-webkit-appearance: none;
			-moz-appearance: none;			
		}
		
		input[type=submit] {
			background: #5f8bbd;
			color: white;
			height: 43px;
			padding: 0 20px;
			border: none;
			float: left;
		}

.container {
	position: relative;
}	

.subheading {
	font-size: 20px;
	color: #e53212;
	font-weight: lighter;
	margin-bottom: 15px;
}

.intro-large {
	font-family: 'Frutiger', 'Open Sans';
	font-size: 24px;
	font-weight: lighter;
}
	.intro-large .cta {
		margin-bottom: 0;
	}
	
.sidebar .intro-large {
	font-size: 18px;
}	

/* BUTTONS */
.btn {
	height: 45px;
	float: left;	
   -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;			
	border-radius: 0; 
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;    
}


.btn-avans {
	background:#4682af;
	color: white;
}
.btn-avans:hover {
	background:#2170ac;
	color: white;
	text-decoration: underline;	
}				

.btn-default {
	line-height: 30px;
	border-color: #ededed;
	color: #4682B2;
}
.btn-group .btn-default {
	color: #4682B2;	
}
.btn-group .btn-default:hover {
	color: #4682B2;	
	text-decoration: underline;
}

.btn-default:hover {
	background: #4682B2;
	color: white;
	border-color: #4682B2;
}
.btn.disabled {
	opacity: .5
}

/* LAYOUT */
.page .row {
	margin-left: 0;
	margin-right: 0;
}

section.page {
	padding-top: 50px;
	padding-bottom: 50px;
}

.container > section {
	width: 100%;
	float: left;
	padding-left: 0;
	padding-right: 0;
}

/* HIPPO CLASS FLOATS */
body > .container .widget-container, body > .container .widget-container > div, body > .container .widget-container > div > div, body > .container .widget-container > div > div > section, .widget-container, .widget-container > div, .widget-container > div > div  {
	width: 100%;
	float: left;
	padding-left: 0;
	padding-right: 0;	
}

.grey-bg {
	background: #f4f4f4
}

.more-link {
	font-family: 'Frutiger-c', 'Open Sans';
	font-size: 15px;
	position: absolute;
	left: 25px;
	bottom: 25px;
	border: 25px;
	background: #fafafa;
	border: 1px solid #779ecb;
	color: #779ecb;
	padding: 10px;
	bottom: 20px;
}


	.more-link hr {
		display: none;
		width: 33%;
		float: left;
		margin-top: 5px;
		border-top-width: 3px;
		border-color: #4682af;
		margin-bottom: 0;
	    -webkit-transition: width 1s linear; /* For Safari 3.1 to 6.0 */
        -moz-transition: width 1s linear;
        -ms-transition: width 1s linear;
        -o-transition: width 1s linear;
	    transition: width 1s;	        
	}
	
	.more-link i {
		float: right;
		margin-left: 10px;
		margin-top: 2px;
	}

	
.widget .more-link {
	background: #fafafa;
	border: 1px solid #779ecb;
}

.spotlight .article .more-link {
	background: rgba(0,0,0, .4);
	border: none;	
}		

.sidebar .testimonial .more-link {
	background: none;
	border: 1px solid #ccc!important;
}
.event-item .more-link {
	background: white;
}
	
.more-link:hover {
	text-decoration: none;
}
.more-link:hover hr {
	width: 50%;
}	


/* HEADER */
header {
	border-bottom: 1px solid #ededed;
}

/* NAVIGATION */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: #e53212;
}

.navbar-toggle.collapsed, .navbar-toggle .icon-bar {
	background: white!important;
}
.navbar-toggle.collapsed .icon-bar {
	background: #e53212!important;
}


.navbar-default {
	background: white;
	border: none;
	margin-bottom: 0;
}

	/* Logo Image */
	.navbar-brand {height: auto !important;}
	
	/* Main Navigation */
	.navbar-default .navbar-main > li > a {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 13px;
		color: black;
		text-transform: uppercase;
	}

	.navbar-default .navbar-main > .highlight > a {
		color: #e53212;
	}
	.navbar-default .navbar-main > li:last-child > a {
		color: #779ecb;
		border-bottom-color: #779ecb;
	}
	
	/* Sub Navigation */
    .navbar-sub .active a {
	    color: #e53212!important;
	    background: none!important
    }	
	
	
@media (max-width: 1279px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }
    

}	
	
	
/* HORIZONTAL SKYSCRAPER */
.h-skyscraper {
	height: auto;
}	
	
	
/* BREADCRUMB */
.breadcrumbs {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ededed;
	background: #fafafa;
}	

	.breadcrumbs span, .breadcrumbs a {
		width: auto;
		height: 100%;
		float: left;
		color: #909090;
		line-height: 50px;
		font-size: 13px;
	}
	.breadcrumbs a {
		padding-left: 10px;
	}
	.breadcrumbs a i {
		float: right;
		margin-top: 19px;
		margin-left: 10px;
	}
	
	
	 .breadcrumbs .container div:last-of-type a span{
	  color: #e53212;
	 }
	 .breadcrumbs .container div:last-of-type  a i {
	  display: none;
	 }	
	 .breadcrumbs .container > div a:last-of-type {
		color: #e53212;
	}
	.breadcrumbs .container > div:last-of-type a i {
		display: none;
	}	
	
	
	
.pagesearch {
	height: 50px;
	border-bottom: 1px dashed #ccc;
	display: none;
}
.pagesearch .container {
	position: relative;
}

	.pagesearch input {
		width: 100%;
		height: 50px;
		border: none;
		font-weight: 100;
		font-size: 16px;
		background: none;
	}
	
	.pagesearch .actions {
		position: absolute;
		top: 0;
		right: 15px;
	}
	
	.btn-search {
		float: right;
		width: 40px!important;
		height: 40px!important;
		float: right!important;
		background: white!important;
		text-align: center;
		line-height: 37px!important;
		padding-left: 0!important;
		border: 1px solid #ededed;
		border-radius: 3px;
		margin-top: 5px;
       -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;			
	}	
	
		.btn-search i {
			float: none!important;
			margin: 0!important;
			display: inline-block!important;
		}
				
		
	.btn-search.active, .btn-search:hover {
		background: #333!important;
		color: white!important;
		cursor: pointer;
	}	
		
		.actions button{
			width: auto;
			height: 30px;
			float: left;
			border: none;
			font-size: 13px;
			line-height: 30px;
			background: none;
			margin-top: 10px;
			text-transform: uppercase;
		}
	
/* ---------------------------------- WIDGETS ----------------------------------*/
/*div.widget-container, div.widget-container>div, div.widget-container>div>div, div.widget-container>div>div>section {
	float: left;
	width: 100%;
}*/
/* ---------------------------------- HOME ----------------------------------*/


/* HERO */
.hero h1, .hero span {
	padding-left: 0;
	padding-right: 0;
}

.hero h1 {
	font-family: 'Open Sans', 'Frutiger';
	color: #555;
	font-weight: 100;
}

.hero .payoff {
	font-family: 'Frutiger', 'Open Sans';
	color: #e53212;
}	

/* SEARCH */
/*.search:hover {
	box-shadow: 0 0 8px #eee;
	-webkit-box-shadow: 0 0 8px #eee;
	-moz-box-shadow: 0 0 8px #eee;
}
*/
.search .btn-group button {
	width: 100%;
	height: 50px;
	float: left;
	padding-left: 20px;
	position: relative;
	background: #f6f6f6;
	text-align: left;
	text-transform: uppercase;
	border-radius: 0;
	border: none;
	font-family: 'Frutiger', 'Open Sans';	
}

	.search .btn-group button .caret {
		position: absolute;
		right: 15px;
		top:22px;
	}
	
	.search .btn-group.open button {
		background: #e53212;
		color: white;
		box-shadow: none;
	}
	
	.search input[type=text] {
		width: 100%;
		height: 50px;
		background: #f6f6f6;
		font-family: 'Open Sans', sans-serif;
	}	

	.open > .dropdown-menu {
		border-radius: 0!important;
	}
	
	
		.search input[type=text] {
			-webkit-appearance: none;
			-moz-appearance: none;
			box-shadow: none;
			border: none;
			padding-left: 15px;
		}

		.searchfield {
			position: relative;	
		}

		
		.search .searchfield button {
			width: 50px;
			height: 50px;
			border: none;
			position: absolute;
			top:0;
			right: 0;
			z-index: 100;
			background: #000;
	       -webkit-transition: background 0.5s linear;
	        -moz-transition: background 0.5s linear;
	        -ms-transition: background 0.5s linear;
	        -o-transition: background 0.5s linear;
	        transition: background 0.5s linear;			
			color: white;
			text-align: center;
			line-height: 50px;
		}
		
		.search .searchfield button:hover {
			background: #e53212
		}	
				
		
/*  SPOTLIGHT  */

	.item {
		margin-bottom: 12px;
	}

	/* Article */
	.article article {
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
		padding: 25px;
		background: #e53212;
	}
	
		.article article h2 {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			font-family: 'Frutiger-c', 'Open Sans';
			font-size: 22px;
			color: white;
			line-height: 27px;
		}
		
		.article article p {
			color: rgba(255,255,255, .9);
		}
		
		.article article .more-link, .article article hr {
			color: white;
			border-color: white;
		}
	
	/* Video */
	.video {
		overflow: hidden;
	}
		.video iframe {
			height: auto;
			width: 100%!important;
			float: left;
		}	
		
	/* Testimonal */
	.testimonial.full-width {
		position: relative;
		margin-top: 50px;
		background: #4682af;
       -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;			
		padding: 20px!important;
	}
	.testimonial.full-width:hover {
		background: #2d70a3;
		cursor: pointer;		
	}
	.page .testimonial.full-width {
		margin-top: 0
	}	
	
		.testimonial.full-width figure {
			width: 12%;
			height: 100%;
			position: absolute;
			top:0;
			left: 0;
			overflow: hidden;
		}
		
			.testimonial.full-width figure img {		
				width: 120%;
				height: auto;
				display: block;
				margin-top: -15%;
			}

		.testimonial.full-width	div.quote {
			width: 86%;
			float: left;
			margin-left: 13%;
			margin-bottom: 5px;
			color: white;
			font-weight: 100;
			font-size: 20px;
		}
		
		.testimonial.full-width small {
			width: 86%;
			float: left;
			margin-left: 13%;			
			color: rgba(255,255,255, 0.85);
			font-size: 13px;	
		}		
	
	.testimonial .mask, .testimonial span {
		width: 100%;
		float: left;
		overflow: hidden;		
	}	
	
	.testimonial .mask {
		width: 100%;
		height: auto;
	}
	
	.testimonial > span {
		height: auto;
		padding: 25px;			
	}
	
		.testimonial span span, .testimonial span blockquote {
			width: 100%;
			float: left;
			color: black;
		}	
		
		.testimonial .name {
			font-family: 'Frutiger-c', 'Open Sans';
			font-size: 22px;
			color: #e53212;
		}
		
		.testimonial .study {
			font-family: 'Open Sans';
			font-size: 12px;
			margin-top: -5px;
			color: #555;
			font-weight: 400;
		}			
		
		.testimonial span blockquote { 
			border: none;
			padding-left: 0;
			font-style: italic;
			font-size: 13px;
			font-weight: 400;
		}	
		
		.secundary .testimonial {
			width: 100%;
			float: left;
			padding: 0;
		}
		
		.secundary .testimonial .mask {
			height: 250px;
		}
		
			.secundary .testimonial .mask img {
				width: 100%;
				float: left;
			}		
		
		.secundary .testimonial > span {
			background: white;
			padding-bottom: 50px;
		}		
		
		.secundary .testimonial > span > a {
			left: 40px;
			bottom: 40px;
		}		
		
		
	/* Blogpost */
	.blogpost {
		background: #f9f9f9;
	}	
		
		.blogpost h3 {
			width: 100%;
			margin-bottom: 10px;
			font-family: 'Frutiger-c', 'Open Sans';
			font-size: 22px;
			color: black;
			line-height: 27px;
		}	
		
		.blogpost .more-link, .blogpost .more-link hr {
			color: #779ecb;
			border-color: #779ecb;
		}
		
		.blogpost p {
			color: black;
		}
		
	/* Photo */
	.photo {
		overflow: hidden;
	}	
	
	.rs-2.photo {
		position: relative;
	}
		.rs-2.photo span {
			width: 70%;
			height: auto;
			position: absolute;
			padding:40px;
			bottom: 0px;
			left: 0px;
			font-family: 'Frutiger-c';
			font-size: 23px;
			color: rgba(255,255,255, .8);
			line-height: 35px;
			background: rgba(0,0,0, .4)
		}
		
	/* News Event */
	.news-event {

	}	
		.news-event figure {
			height: 100%;
			overflow: hidden;
			padding: 0;			
		}
		
			.news-event figure img {
				width: 100%;
				/*min-height: 100%;*/
				height: auto;
			}
	
		.news-event span {
			height: 100%;
			padding: 20px;
			background: #4682af;
		}
		
			.news-event span small {
				width: 100%;
				float: left;
				margin-bottom: 7px;
				color: rgba(255,255,255, .6);
				text-transform: uppercase;
				font-size: 12px;
			}

			.news-event span a:first-of-type {
				color: white;
				font-size: 18px;
				font-family: 'Frutiger-c';
				text-decoration: none;				
			}
			
			.news-event span a:hover {
				text-decoration: underline
			}	
			.news-event a {
				color: white;
			}		

/* TOPTAKEN */


	.cta {
		width: 100%;
		float: left;
		padding: 18px 15px;
		position: relative;
	   -webkit-transition: border-bottom-color 0.5s linear;
	    -moz-transition: border-bottom-color 0.5s linear;
	    -ms-transition: border-bottom-color 0.5s linear;
	    -o-transition: border-bottom-color 0.5s linear;
	    transition: border-bottom-color 0.5s linear;	

       -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;		    	

	    border-bottom-width: 3px;
	    border-bottom-color: #f9f9f9;
	    border-bottom-style: solid;
	}
	.cta:hover {
		border-bottom-color: #ccc;
	}	
	
	.cta-default {
		background: #f9f9f9;
		color: black;
	}
	
	.cta-default > i {
		color: #909090;
	}
	
	.cta-red *, .red *, .cta-blue *, .blue *, .cta-yellow *, .yellow *, .cta-grey *, .grey *, .cta-green *, .green *, .cta-avans *, .avans * {
		color: white!important
	}
	
	.cta-avans, .avans				{ background: #e53212!important; }
	
	.cta-red, .red 					{ background: #e53212!important; }
	.cta-red:hover, .red:hover 		{ background: #fd4d43!important; }
		
	.cta-blue, .blue 				{ background: #3d76bb!important; }
	.cta-blue:hover, .blue:hover 	{ background: #5f8bbd!important; }
	
	.cta-yellow, .yellow 			{ background: #FFB347!important; }
	.cta-yellow:hover, .yellow:hover{ background: #ffa72b!important; }
	
	.cta-grey, .grey 				{ background: #CFCFC4!important; }
	.cta-grey:hover,.grey:hover 	{ background: #c3c3b8!important; }	
	
	.cta-green, .green 				{ background: #36ab57!important; }
	.cta-green:hover, .green:hover 	{ background: #5fd25f!important; }	

	.cta-red small  {
		color: rgba(255,255,255, .9)
	}
	
	.cta-default > div > i {
		color: #e53212
	}
	
	.cta > i {
		position: absolute;
		right:20px;
		top:30px;
		font-size: 23px;
	}
	

		.cta > div:last-of-type {
			padding-right: 0;
		}
		
			.cta > div > i {
				font-size: 17px;
				margin-right: 10px;
			}
		
			.cta span, .cta small {
				width: 100%;
				height: auto;
				float: left;
			}
			
			.cta span {
				font-family: 'Frutiger-bc', sans-serif;
				font-size: 18px;			
				
			}
			
			.cta small {
				margin-top: -5px;
				font-size: 13px;
			}
			
			aside .cta span {
				text-transform: uppercase;
			}
		
			aside .cta i {
				top:24px;
			}
			
			
/* CLUSTERS */
.clusters .cluster {
	margin-bottom: 12px;
}
.cluster {
	width: 100%;
	overflow: hidden;
	float: left;
	position: relative;
}

.cluster a {
	width: 100%;
	height: 100%;
	display: block;
}
.cluster a:hover h3, .cluster a:hover h3 .table-cell {
	background: #e53212;
	color: white;	
}

	.cluster img.cl-fi {
		width: 100%;
		min-height: 100%!important;
	}
	.secundary .cluster .cl-fi {
		z-index: auto;
	}

	.spec {
		width: 89%;
		height: auto;
		position: absolute;
		left: 15px;
		bottom: 15px;
	}

		.spec .nametag {
			width: 70%;
			height: auto;
			float: left;
			padding: 8px 15px;			
			background: rgba(0,0,0, .7);			
		}
		
		
		
		.nametag {
			color: rgba(255,255,255, 0.8);
			font-family: 'Frutiger', sans-serif;
			font-weight: lighter;
			font-size: 11px;
		}
		
		.spec h3 {
			width: 100%;
			height: 62px;
			float: left;
			position: relative;
			display: table;
			background: white;
			margin-top: 0;			
		}
		
			.spec h3 .table-cell {
				width: 100%;
				height: 100%;
				display: table-cell;
				vertical-align: middle;
				padding-left: 15px;
				padding-right: 30px;
				font-family: 'Frutiger-c', sans-serif;
				font-size: 16px;
				line-height: 19px;
				color: black;
			}
		
		.spec i {
			position: absolute;
			right:15px;
			top:33%;
		}			
		
		.spec h3:hover {
			background: #e53212;
			color: white;
		}
		.spec h3:hover .table-cell {
			background: #e53212;
			color: white;
		}
		.spec h3:hover i {
			color: white;
		}		

/* SECUNDARY */
.secundary {
	background: #f7f7f7;
	padding: 50px 0;
}

/* WIDGETS */
.widget {
	width: 100%;
	float: left;
	position: relative;
	padding: 30px;
}			
.widget {
	padding-bottom: 80px!important;
}
.widget-default {
	background: white;
}
.widget-default:hover {
	box-shadow: 0 0 8px #eee;
	-webkit-box-shadow:0 0 8px #eee;
	-moz-box-shadow:0 0 8px #eee;
}

.widget .more-link {
	left: 30px;
}

	.widget-heading {
		width: 100%;
		height: auto;
		float: left;
		font-family: 'Frutiger-c', sans-serif;
		font-size: 17px;
		color: #e53212;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	
	.widget article {
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ededed;
	}	
	
	.widget article:last-of-type {
		border-bottom: none;
	}	
	
	.widget h4 {
		width: 100%;
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 600;
		color: #666;
	}
	
	/* Blogpost */
	.blogpost aside {
		position: relative;
		padding: 25px 15px 15px 15px;
		font-family: 'Frutiger-bc', sans-serif;
		color: rgba(255,255,255, .7)
	}
	
		.blogpost .date {
			width: 100%;
			height: auto;
			padding: 15px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		
			.date span {
				width: 100%;
				float: left;
				margin-top: -14px;
				margin-left: -4px;
				font-size: 60px;
				color: rgba(255,255,255, .6);
				font-family: 'Open Sans';
				font-weight: 100;				
			}
		
			.date small {
				width: 100%;
				height: auto;
				float: left;
				text-transform: uppercase;
				color: white;
				font-size: 14px;
			}
	
	
	/* Widget News */
	.widget article:first-of-type {
		padding-top: 0;
	}
	
	
		.widget-news article .mask {
			width: 70px;
			height: 70px;
			margin-top: 2px;
			margin-right: 20px;
			float: left;
			overflow: hidden;
		}
		
			.widget-news article .mask img {
				width: auto;
				height: 100%;
			}	
			

		.widget-news article .msg .meta {
			display: block;
			margin-bottom: 10px;
			font-size: 11px;
			color: #909090;
		}		
		
		.widget-news article .msg .title {
			display: block;
			font-size: 13px;
			font-weight: normal;
			color: black;
		}		
		
		.msg a:hover, .widget-faq article a:hover {
			cursor: pointer;
			color: #4682af!important;
		}
	
	/* Widget FAQ */
	.widget-faq article {
		height: auto;
	}
	
		.widget h4, .widget-faq a {
			height: auto;
			float: left;		
		}
			
		.widget-faq article a {
			width: 90%;		
			font-size: 13px;
			color: #555;
		}
		
		
		.widget-faq article i {
			position: absolute;
			right:0px;
		}		
		.widget-faq article i { top:50%; }
		.widget-faq article:first-of-type i { top:38%; }
		
	/* Widget Contact */	
	.sidebar .widget-contact {
		padding-bottom: 30px!important;
	}
	.location {
		width: 100%;
		float: left;
		font-size: 12px;
		padding-bottom: 13px;
		margin-bottom: 13px;
	}
	.location:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}
	
		.location a {
			color: #e53212;
		}
	
		.location strong {
			width: 100%;
			height: auto;
			float: left;
			margin-bottom: 5px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			color: #666;
			text-transform: inherit;
		}
		
		.location strong i {
			color: #ff2e05;
		}

		.location strong.phone-num {
			font-size: 16px;
		}
	
	
	.widget-contact input[type=text] {
		width: 100%;
		height: 45px;
		float: left;
		margin-bottom: 7px;
		background: #f7f7f7;
		border: none;
		padding-left: 15px;
		font-size: 13px;
	}
	
	
	/* Widget Archive */
	.sidebar .widget {
		border: 1px solid #ededed;
	}
	
	.grey-bg .sidebar .widget {
		border: none;
	}
	
	
	.sidebar .widget-archive {
		padding-bottom: 30px!important;
	}
	.widget-archive .widget-heading {
		color: #779ecb;
	}
	
	.widget-archive ul li {
		list-style: none;
		text-transform: uppercase;
		padding: 7px 0;
		border-bottom: 1px solid #ededed;
	}
	.widget-archive ul li:first-child {
		padding-top: 0;
	}
	
	.widget-archive ul li a {
		color: #333;
	}
	.widget-archive ul li a:hover {
		color: #333;
		text-decoration: none;
		font-weight: 600;
	}	
	
		.widget-archive ul li small {
			text-transform: none;
			color: #909090;
			font-size: 12px;
			opacity: 0;
	       -webkit-transition: opacity 0.5s linear;
	        -moz-transition: opacity 0.5s linear;
	        -ms-transition: opacity 0.5s linear;
	        -o-transition: opacity 0.5s linear;
	        transition: opacity 0.5s linear;			
		}	
		.widget-archive ul li:hover small {
			opacity: 1
		}	
	
		.widget-archive ul li > i {	
			display: inline-block;
			margin-right: 5px;
		}
		.widget-archive ul li:hover > i {			
			color: #e53212
		}
	
		/* Widget Banner */
		.widget-banner {
			padding: 0px!important;
			background: none;
		}
		
			.widget-banner img {
				width: 100%;
				height: auto;
				float: left;
			}	
			
		/* Widget persona */
		.grey-bg .widget-persona {
			background: white;
		}		
		
		.widget-persona {
			background: #fafafa;
			padding-bottom: 30px!important;
		}
		
		.widget-persona li {
			border-left: 5px solid white;
			padding: 0 0 0 15px!important;
			margin-bottom: 15px;
		}
		
			.widget-persona li span:first-of-type {
				font-family: 'Frutiger-bc';
				font-size: 15px;
			}		

	
/* ---------------------------------- END HOME ----------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------- DETAIL ----------------------------------*/
.teaser {
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #555;
	line-height: 27px;
}

.professions, .program-costs {
	width: 100%;
	float: left;
	border: 1px dashed #ccc;
}
		
	.professions li, .program-costs li {
		width: 100%;
		float: left;
		padding: 20px;
		list-style: none!important;
	}
	.professions li:nth-child(odd), .program-costs li:nth-child(odd) {
		background: #fafafa;	
	}	
	
		.professions li .title {
			width: 100%;
			float: left;
			font-weight: bold;
		}

/* Program costs */
.program-costs li {
	padding: 10px 15px;
}

	.program-costs span {
		width: auto;
		float: left;
		padding: 0 10px;
		border-right: 1px dotted #ccc;
		font-size: 14px;
		line-height: 27px;
		color: #555;		
	}
	.program-costs span {
		width: 17%;
	}
	.program-costs span:first-of-type {
		width: 30%;
		padding-left: 0;
	}	

.summary {
	background: #fafafa;
	border: solid 1px #eee;
	margin-bottom: 30px;
	margin-top: 20px;	
}

	.summary > div {
		padding: 30px!important;
		height: 282px;
	}
	
		.summary > div:first-of-type h4 {
			color: white;			
		}
		.summary > div:first-of-type hr {
			border-top-color: rgba(255,255,255, .5);			
		}

	.summary > div hr {
		margin: 10px 0;
	}

	.summary > div:first-of-type span {
		text-transform: none;
		font-family: 'Open Sans';
		font-weight: 100;
		font-size: 16px;
		line-height: 28px;
		padding-left: 0;
		color: rgba(255,255,255, .9)
	}
	
		.summary > div:first-of-type span p {
			font-size: 16px;
			line-height: 28px;
			font-weight: 400;
			color: rgba(255,255,255, .9)
		}
		
		.summary > div:first-of-type span strong {
			color: white;
			font-weight: 600;
		}		

	.summary h4 {
		font-family: 'Frutiger-bc';
		text-transform: uppercase;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;		
	}
	
	.summary ul {
		width: 100%;
		float: left;
		padding: 0;
	}	

	.summary li {
		list-style: none;
		padding: 5px 0;
	}
		.summary li span {
			width: 80%;
			float: left;
			font-size: 13px;
		}	
		.summary li span:first-of-type {
			margin-top: 1px;
		}		

		.summary li i {
			width: 36px;
			height: 36px;
			float: left;
			margin-right: 10px;
			margin-top: 3px;
			color: #e53212;
			font-size: 14px;
			text-align: center;
			line-height: 36px;
			border-radius: 50%;
			background: white;
		}
		
		.summary li span:first-of-type {
			float: left;
			color: #909090;
		}

		
.panel-group {
	width: 100%;
	float: left;
}		

	.panel-group .panel {
		border: none;
		box-shadow: none;		
		border-radius: 0;
	}
	
	.panel-body {
		border-top: none!important;
	}
	
		.panel-group .panel .panel-heading {
			background: none;
			text-transform: uppercase;
			padding-left: 0;
			border-bottom: 1px solid #ededed;
		}
		
			.panel-group .panel .panel-heading h4 a {
				font-family: 'Frutiger-c', 'Open Sans';
				font-size: 17px;
				color: #777b7f;
				padding-left: 20px;
				background: url(../images/caret-right.png) left center no-repeat;
			}		
			
			.panel-group .panel .panel-heading h4.active a {
				font-family: 'Frutiger-bc', 'Open Sans';
				color: black;
				text-decoration: none;
				background: url(../images/caret-down.png) left center no-repeat;				
			}
			
	.panel-group .panel .panel-body h2 {
		width: 100%;
		height: auto;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		font-family: 'Frutiger-c', sans-serif;
		font-size: 18px;
		color: #e53212;
	}			
	
	.panel-group .panel .panel-body p {	
		font-size: 14px;
		line-height: 27px;
		color: #555;
	}
	
/* EDUCATIONS */
.filters {
	width: 100%;
	height: auto;
	padding: 0 0 35px 0;
}

	.filters span, .filters label {
		float: left;
		text-transform: uppercase;
	}
	
	.filters span {
		margin-right: 15px;
		color: #909090;
	}	
	
	.filters label {
		font-weight: normal;
		color: #e53212;
		margin-right: 20px;
	}
	
		.filters input[type=checkbox] {
			float: left;
			margin-top: 4px;
			margin-right: 5px;
		}



.edu {
	float: left;
	background: white;
	padding: 25px;
	margin-bottom: 20px;
}	

	.edu .edu-intro span {
		float: left;
	}

		.edu .edu-intro .more {
			width: 100%;
			display: none;
			padding-top: 10px;
			padding-bottom: 0;
		}
	
		.edu .edu-intro .more-text {	
			cursor: pointer;
		}
		.edu .edu-intro .more-text:hover {
			text-decoration: none;
		}			

		.edu .edu-intro h3, .edu .edu-intro h3 a, ul.educations li h3 a {
			width: 100%;
			height: auto;
			float: left;
			margin-top: 0;
			font-family: 'Frutiger-bc', sans-serif;
			font-size: 18px;
			text-transform: uppercase;
			color: black;
		}
		
		.edu-intro a {
			line-height: 26px;
			margin-top: 5px;
		}
	
	.intro + ul.educations {
		margin-top: 30px;
		padding-top: 10px;
		border-top:1px solid #ededed;		
	}
		
	ul.educations {
		padding-top: 10px;
	}

		ul.educations li {
			width: 100%;
			height: auto;
			float: left;
			position: relative;
			padding: 20px;
			list-style: none;
		}
		
			ul.educations li a span {
				float: left;
			}				
		
			ul.educations li > a {
				background: #909090;
				color: white;
				text-align: center;
				line-height: 40px;
			}
			
				ul.educations li > a i {
					color: white;
					font-size: 18px;
				}			
			
		ul.educations li:nth-child(even) {
			background: #fafafa;
		}
		
		ul.educations li h3 {
			width: 100%;
			height: auto;
			float: left;		
			margin-bottom: 15px;
			margin-top: 0;
		}
		
			ul.educations li h3 a {
				color: #e53212;
			}
		
			ul.educations li h3 a:hover {
				text-decoration: underline;
			}		
		
		ul.educations .details {
			padding: 0 20px;
			border-left: 1px solid #ededed;
			border-right: 1px solid #ededed;			
		}

			ul.educations .details span {
				width: 100%;
				height: auto;
				float: left;
			}
			ul.educations .details span {
				margin-bottom: 10px;
				font-size: 12px;			
			}
			
			ul.educations .details span i, ul.educations .details span small {
				float: left;
			}	

			ul.educations .details span i {
				width: 20px;
				margin-top: 3px;
				color: #e53212
			}

			ul.educations .details span small {	
				width: 34%;
				font-size: 12px;
				color: #909090;
			}
			
			
/* MAGAZINE */
.magazine-overview .pagetitle {
	color: #779ecb!important
}

.magazine-item {
	background: white;
	position: relative;
	overflow: hidden;
}
.magazine-item + hr {
	margin-top: 0;
}

	.magazine-item figure {
		width: 100%;
		float: left;
		overflow: hidden;
	}
	
		.magazine-item > figure img {
			width: 100%;
			height: auto;
		}
	
	.magazine-item > div {
		width: 100%;
		float: left;
		padding: 30px 30px 60px 30px;
	}
	
		.magazine-item > div img {
			height: auto;
			float: left;
			margin-right: 30px;
			margin-bottom: 20px;			
		}
	
		.magazine-item > div blockquote {
			width: 100%;
			float: left;
			font-size: 20px;
			font-weight: 100;
			border-color: #779ecb!important;
		}

		.magazine-item h3 {
			width: 100%;
			float: left;
			text-transform: uppercase;
			font-family: 'Frutiger-bc', 'Open Sans', sans-serif;
			color: black;
			font-size: 20px;
		}	
		
			.magazine-item h3 small {
				width: 100%;
				height: auto;
				float: left;
				font-weight: bold;
				margin-top: 10px;
				color: #779ecb!important;
				font-size: 12px;
			}	
			.magazine-item h3 i {			
				visibility: hidden;
				position: absolute;
			}
			
		.magazine-item p {

			font-size: 15px;
			color: #565656;
			line-height: 26px;
			margin-bottom: 30px;
		}	
		.magazine-item .more-link {
			left: 50px;
			bottom: 110px;
		}			
		.magazine-item .more-link {
			font-size: 17px;
		}
		
	.magazine-item footer{
		width: 100%;
		float: left;
		background: #fafafa;
		padding: 20px 40px;
		color: #909090
	}
	
	.magazine-item footer div:first-of-type {
		padding-top: 6px;
	}
	.magazine-item footer div:first-of-type i  {
		display: inline-block;
		margin-right: 5px;
	}
	.magazine-item footer div:first-of-type a  {	
		color: #909090;
		font-size: 12px;
	}
	
		.magazine-item footer div:last-of-type a{
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 5px;
			background: white;
			text-align: center;
			line-height: 30px;
		}		
			
			
	/* Earlier news */
	.news-earlier article {
		margin-bottom: 5px;
		position: relative;
		border-left: 5px solid #779ecb;
       -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;					
	}
	
	.news-earlier article:hover {
		background: 	#fafafa	
	}
	

		.news-earlier article h3 {
			width: 80%;
			padding: 15px;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 15px;
			text-transform: none;
			font-family: 'Frutiger';
		}		
		
		.news-earlier article figure {
			width: 63px;
			height: 63px;
			float: left;
			overflow: hidden;
		}
			.news-earlier article figure img {
				width:auto;
				height: 100%;
			}			
		
		.news-earlier article h3 small {
			margin-top: 5px;
			font-family: 'Open Sans';
			font-weight: 100;
			color: #909090!important;
		}	
		
		.news-earlier article h3 i {
			position: absolute;
			right:15px;
			top:25px;
			visibility: visible;
		}	
	
/* CONTENT PAGINA */
.sidemenu {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}

	/* Global */
	.sidemenu nav li {
		width: 100%;
		float: left;
		list-style: none;
	}
	
	.sidemenu nav li ul {
		width: 100%;
		float: left;
		padding: 0;
		margin-top: 10px;
	}

	/* Top Menu */
	.sidemenu nav > li {
		padding: 10px 0;
		border-bottom: 1px solid #ededed;
	}	
	
		.sidemenu nav > li > a {
			color: #777b7f;
			font-size: 15px;
		}
	
		.sidemenu nav li.active > a, .sidemenu nav li > a:hover {
			color: #e53212;
			text-decoration: none;
		}
	
			.sidemenu nav > li > a {
				text-transform: uppercase;
			}	
			.sidemenu nav > li > a > i {
				float: left;
				margin-right: 5px;
				margin-top: 3px;
			}	
		
	/* Sub Menu */	
	.sidemenu nav li ul {
		display: none;
	}

		.sidemenu nav li ul li {
			text-indent: 20px;
			padding: 5px 0;
		}
		
			.sidemenu nav li ul li i {
				float: right;
				margin-top: 3px;
			}	
			
			.sidemenu nav li ul li a {
				color: #777b7f;
			}		
	
/* ZOEKRESULTAAT */
.search-result {
	background: white!important;
}
.search-result .container .page-content {
	padding: 0!important;
	border: none!important;
}

.search-result .pagetitle {
	margin-bottom: 30px;
}

.pagetitle i {
	color: #ccc;
}	

.search-meta {
	padding-bottom: 10px;
	margin-bottom: 15px;
	color: #909090;
	border-bottom: 1px solid #ededed;
}

.searched-item {
	padding-bottom: 30px;
	border-bottom: 1px solid #ededed;
	position: relative;
}

.searched-item h3 small {
	margin-top: 5px;
	font-size: 12px;
	padding: 7px!important;
	background: #fafafa;
}

	.searched-item figure {
		overflow: hidden;
		padding-left: 0;
	}
	.searched-item figure .date {
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
	}
	.day {
		width: 100%;
		float: left;
		margin-top: 23px!important;
		margin-left: 0!important;
		font-weight: 100;
		font-size: 80px!important;
		line-height: 70px;
		color: white;
	}
	figure .date small {
		font-size: 15px;
	}
	
	.searched-item figure img {
		width: 100%;
		min-height: 100%;
		height: auto;
		float: left;
	}	

	.searched-item h3 {
		width: 100%;
		float: left;
		margin-top: 0;
		margin-bottom: 5px;
		font-family: 'Open Sans', sans-serif;
		color: #2a6496;
		font-weight: 500;
		font-size: 18px;
	}	
	
	.searched-item label, .faq-category label {
		width: auto;
		width: 140px;
		float: left;
		padding: 5px 15px;
		background: #CFCFC4;
		font-size: 12px;
		color: white;
		font-weight: normal;
		border-radius: 20px;
	}	
	
		.searched-item label a {
			color: white;
		}		
		.searched-item label a:hover {
			text-decoration: none;
		}		
	

		.searched-item h3 a {	
			width: auto;
			float: left;		
			color: #2a6496;
			line-height: 25px;
		}
		.searched-item h3 a:hover {			
			text-decoration: underline;
		}	
		
		
	.searched-item p {

		font-size: 14px;
		color: #565656;
		line-height: 26px;
	}
	
/* TESTIMONIAL OVERVIEW PAGE */
.widget-filters {
	padding-bottom: 30px!important;	
}
.widget-filters:hover {
	box-shadow: none;
}

.widget-filters .filter, .phone-filters .filter {
	width: 100%;
	float: left;
	position: relative;
	padding: 15px;
	background: #fafafa;
	margin-bottom: 1px;
	font-size: 13px;
	color: #909090;
}
.widget-filters .filter.active, .phone-filters .filter.active, .widget-filters .filter.active:hover {
	background: #FF6961!important;
	color: white;
}
.widget-filters .filter:hover, .phone-filters .filter:hover {
	background: #CFCFC4;
	color: white;
	cursor: pointer;	
}

/* TESTIMONIAL OVERVIEW */
.testimonial-overview, .testimonial-detail {
	background: white!important;
}


.testimonial-overview .testimonial {
	margin-bottom: 20px;
}

.testimonial-overview .page-content .mix{
	display: none;
	padding: 0 6px;
}	

.testimonial-overview .testimonial .mask {
	height: 250px;
} 
	.testimonial-overview .testimonial .mask img {
		width: 100%;
		min-height: 250px!important;
		float: left;
	}

.testimonial-overview .testimonial > span {
	background: #fafafa;
	padding-bottom: 40px;
	height: 240px;
	overflow: hidden;
}	
	.testimonial-overview .testimonial span blockquote{
		font-size: 13px;
		padding-right: 0;
	}
	
/* NEWS & EVENTS */

/* News */
.news-events .page-content {
	border-right: 1px solid #ededed;
}

.news-events article.news-item figure {
	height: auto;
	float: left;
	padding: 0;
}
	.news-events article.news-item figure img {
		max-width: 100%;
	}

.news-events article.news-item h2, .news-events article.news-item h2 a, .news-events article.event-item h2, .news-events article.event-item h2 a {
	font-size: 21px;
	color: black;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: 'Frutiger-bc', sans-serif;
}
.news-events article.event-item h2, .news-events article.event-item h2 a { 
	color: #e53212!important;
}
	
	.news-events article.news-item h2 small, .news-events article.event-item h2 small {
		width: 100%;
		float: left;
		font-size: 12px;
		margin-top: 5px;
	}

.news-events article.news-item .body {
	float: left;
	padding-left: 30px;
}

.news-item .more-link {
	float: left;
	position: relative;
	left: inherit;
	bottom: inherit;
}

/* Events */
.event-item	{
	background: #fafafa;
	float: right;
	position: relative;
	padding: 20px 20px 60px 20px;
}
.event-item.compact {
	padding: 0;
}
.event-item.compact:hover {
	background: #f1f1f1;
}
.event-item h2 {
	color: #e53212!important;
}
.event-item.compact h2 {
	padding: 20px 20px 15px 20px;
	font-size: 19px!important;
}
.event-item.compact i {
	position: absolute;
	right:20px;
	bottom: 30px;
	font-size: 20px;
	color: #909090;
}
.event-item.compact a {
	width: 100%;
	height: auto;
	float: left;
}

	.event-item .date {
		background: #FF6961;
		position: absolute;
	}
	.event-item.compact .date {
		width: 16.666666666666664%;
		float: left;
		position: relative;
		left: inherit;
		top: inherit;	
	}
	
	
/* LANDING */
.content-landing .grid > div {
	padding: 6px!important;
}

.content-landing .square {
	width: 100%;
	float: left;
	position: relative;
	padding: 20px;
	background: #fafafa;
	overflow: hidden;
}

	.content-landing .square img {
		min-width: 100%;
		width: 100%;
		min-height: 100%;
		height: auto;
		position: absolute;
		top:0;
		left: 0;
	}

	.content-landing .hero {
		margin-bottom: 0;
	}

	.content-landing .hero h1 {
		font-family: 'Open Sans';
		font-weight: 100;
		font-size: 30px;
		line-height: 42px;
	}
	
	.content-landing .hero hr {
		border-top-width: 10px;
	}
	
	.content-landing .hero span {
		width: 100%;
		float: left;
		font-family: 'Open Sans';
		font-size: 14px;
		line-height: 26px;
	}
	
	.content-landing .eyecatcher span {
		width: 100%;
		float: left;
	}

	.content-landing .eyecatcher span:first-of-type {
		font-family: 'Frutiger';
		font-weight: bold;
		font-size: 17px;
	}
	
	/* Articles */
	.content-landing .articles {
		padding-bottom: 40px;
		border-bottom: 1px solid #ededed;
		margin-bottom: 30px;
	}
		.content-landing .articles article {
			margin-bottom: 45px;
			padding: 0 25px;
		}

			.content-landing .article-title, .content-landing .article-title a {
				width: 100%;
				float: left;
				margin-bottom: 10px;
				text-transform: uppercase;
				color: #e53212;
				font-size: 18px;
				font-family: 'Frutiger-bc';
			}
			.content-landing .article-title a {			
				margin-bottom: 0;
			}
			
			.content-landing .articles article .more-link {
				float: left;
				position: relative;
				left: inherit;
				bottom: inherit;
			}			
		
	/* Quicklinks */
	.quicklinks ul li {
		padding: 5px 15px;
		list-style: none;
	}
	
		.quicklinks ul li a {
			font-family: 'Frutiger-c';
			font-size: 16px;
		}

			.quicklinks ul li a i {
				float: left;
				margin-top: 2px;
				margin-right: 5px;
				color: #909090;
			}	
	.quicklinks figure img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}
	
/* FAQ Overview */


.faq-popular .faq-category {
	padding: 0;
}

	.faq-category ul li label {
		position: absolute;
		bottom:17px;
		left: 20px;
	}

	.faq-popular ul li {
		list-style: none;
		padding: 0 6px;		
		margin-bottom: 12px;
	}

	
		.faq-popular ul li a {
			float: left;
			padding-bottom: 50px;
			position: relative;
			background: white;
			border: 1px solid #ededed;	
		}
		
		.faq-popular ul li a:hover {
			box-shadow: 0 0 8px #eee;
			-moz-box-shadow:0 0 8px #eee;
			-webkit-box-shadow: 0 0 8px #eee;
		}		
		
		.faq-popular .faq-category ul li h3{
			width: 100%;
			height: 100px;
			float: left;
			position: relative;
			margin-top: 0;
			margin-bottom: 0;
			padding: 20px;		
			background: #fafafa;			
			font-size: 15px;
			line-height: 21px;
			color: black;

		}
		
			.faq-popular .faq-category ul li i {
				width: 30px;
				height: 30px;
				position: absolute;
				right:0px;
				bottom: 17px;
				text-align: center;
				line-height: 30px;
				color: white;
			}		
		
		.faq-popular .faq-category ul li p {
			padding: 20px 20px 0 20px;
			color: black;
			font-size: 13px;
		}		


.faq-categories {
	position: relative;
}

	.faq-category {
		width: 100%;
		height: auto;
		float: left;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

.faq-overview .panel-group .panel .panel-heading h4 a {
	font-size: 17px;
}
.faq-overview .panel-group .panel .panel-heading h4 a small, .panel-heading h4 a small {
	font-size: 13px!important;
	text-transform: none;
	float: right;
}

	.faq-category h2 {
		padding-bottom: 5px;
		margin-bottom: 15px;
		color: black;
		font-family: 'Frutiger-bc';
		font-size: 17px;
		text-transform: uppercase;
	}	
	
	.faq-category ul {
		width: 100%;
		float: left;
	}
	
		.faq-categories ul li {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			font-size: 13px;
			list-style: none;
		}
		
			.faq-categories ul li a {
				font-size: 15px;
			}		
				.faq-categories ul li a i {
					display: inline-block;
					margin-top: 5px;
					margin-left: 15px;
				}			
			.faq-categories ul li p {
				width: 100%!important;
				float: left!important;
				font-size: 13px!important;
				line-height: 23px!important;
			}			
		
	/* Detail */
		
	.news-events-detail .page-content .meta {
		margin-bottom: 30px;
		background: #fafafa;
		border: 1px solid #ededed;
	}
	.news-events-detail .page-content .meta.meta-news {
		padding: 10px!important;
		font-size: 13px;
		color: #909090;
	}		
		.news-events-detail .page-content .meta.meta-news span {
			color: black
		}	

		.news-events-detail .date {
			width: 75px;
			padding: 10px 5px 5px 5px;
			text-align: center;
			float: left;
			color: white;
			font-size: 45px;
			font-weight: 100;
		}			
	


			.news-events-detail .meta figure, .news-events-detail .date {
				height: 200px;
				overflow: hidden;
			}
			
				.news-events-detail .meta figure img {
					width: 100%;
					height: auto;
				}
			
				.news-events-detail .date small {
					font-size: 11px;
				}
			
			
			.news-events-detail .meta .data {
				padding: 20px;
			}			
			
				.news-events-detail .meta .data hr {
					margin: 10px 0;
				}			
				
				.news-events-detail .meta .data .location:last-of-type {
					margin-bottom: 0;
				}
				
		.news-events-detail footer div:last-of-type a  {
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 5px;
			background: #fafafa;
			text-align: center;
			line-height: 30px;
		}	
		
	/* News Content */
	.news-content img {
		display: inline;
		margin-right: 30px;
		margin-bottom: 30px;
	}
	.news-content p {
		display: inline;
		float: none !important;
	}							

	
	
	
/* FOOTER */
footer {
	padding: 40px 0 20px 0;
	background: white;
}
.page + footer {
	border-top:1px solid #ededed;
}	

	footer h6 {
		width: 100%;
		height: auto;
		float: left;
		margin-bottom: 20px;
		font-size: 16px;
		text-transform: uppercase;
		color: #e53212!important;
	}
	
	footer ul {
		width: 100%;
		height: auto;
		float: left;
		padding: 0;
	}
	
		footer ul li {
			width: 100%;
			height: auto;
			float: left;
			padding: 5px 0;
			list-style: none;
		}
		
			footer ul li a {
				color: black;
			}
			footer ul li a:hover {
				color: #428bca;
			}

				footer ul li a i {
					float: left;
					margin-top: 3px;
					margin-right: 7px;
				}
	
		footer ul.social li {
			width: 65px;
			height: 65px;
			float: left;
			margin-right: 1px;
			padding: 0;
		}

			footer ul.social li a {
				width: 100%;
				height: 100%;
				display: block;
				background: #fafafa;
				text-align: center;
				line-height: 70px;
			}
			
				footer ul.social li a i {
					float: none;
					font-size: 23px;
				}
				i.fa-youtube 	{ color: #bb0000 }
				i.fa-linkedin 	{ color: #007bb6 }
				i.fa-twitter 	{ color: #55acee }
				i.fa-facebook 	{ color: #2b70bf }	
				
	.copyright {
		padding-top: 20px;
		border-top: 1px solid #ededed;
		margin-top: 25px;
	}															
	
/* HELPER CLASSES */

.dropdown-menu {
	z-index: 999999999999!important;
}

.pagination > li > a, .pagination > li > span {
	height: 50px;
	width: 50px;
	line-height: 2.9;
	text-align: center;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 0!important;
}

.fixed {
	width: 285px;
	position: fixed;
	top:30px;
	z-index: 999999;
}

.no-padding {
	padding-left: 0!important;
	padding-right: 0!important;	
}	
.no-padding-left 	{ padding-left: 0!important; }
.no-padding-right 	{ padding-right: 0!important; }

.margin-bottom-10 	{ margin-bottom: 10px; }
.margin-bottom-20 	{ margin-bottom: 20px; }
.margin-bottom-30 	{ margin-bottom: 30px; }
.margin-bottom-40 	{ margin-bottom: 40px; }
.margin-bottom-50 	{ margin-bottom: 50px; }

.text-capitalize	{ text-transform: capitalize; }
