/* Navbar */
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-right: 380px;
	}
}

/* Breadcrumbs */
.breadcrumbs .container span, .breadcrumbs .container a {
	float: none;
}

.breadcrumbs .container a {
	display: inline-block !important;
}

.breadcrumbs .container i{
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumbs .container .breadcrumb_last {
	color: #C6002A;
}

/* Homepage block */
.rs-1 img {
	max-width: 100%;
}

/* Social sharing buttons */
.wpfai-list .wpfai-list-item {
	width: auto;	
}

.wpfai-list .wpfai-list-item a {
	color: transparent;
}

.wpfai-list .wpfai-list-item a i {
	margin-top: 0;
}


/* News and events */
.news-events article.news-item figure img {
	height: auto;
}

/* 5 Column Grid */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* Partner Logo's */
.partner-logo-row {
	background-color: #f7f7f7;
	padding: 20px 30px;
}

.partner-logo-row img {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

@media (min-width: 768px) {
	.partner-logo-row img {
		padding-bottom: 0;
	}	
}

/* PAGINATION */
.pagination > li > span.current,
.pagination > li > .current,
.pagination > li > .current:hover,
.pagination > li > .current:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

/* Contact Form 7 */
.widget-contact .wpcf7-form p:last-child {
	margin-top: 17px;
}	
div.wpcf7-response-output {
	
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {

}

div.wpcf7-mail-sent-ng {
	color: #e53212;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	display: none !important;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #e53212;
	display: block;
	float: left;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}
