@media all and (min-width:1280px) {

.col-xs-offset-2 {
	margin-left: 0!important;
}

.col-md-5-5 {
	width: 46%!important;
}

.col-md-3-5 {
	width: 28%!important;
}

.page-content {
	padding-left: 0;
}


	/* HEADER */	
	header {
		height: 180px;
	}

		.navbar-brand {
			float: left;
		}
	
			.navbar-brand img {
				width: 140px;
				height: auto;
				float: left;
				margin-top: 18px;
			}
			
	header + .container {
		margin-top: 60px;		
	}				
	
	
	/* NAVIGATION */
	.navbar-collapse {
		padding-right: 0;	
	}
	
		/* Main Navigation */
		.navbar-default .navbar-main > li {
			margin-left: 20px;
		}
	
			.navbar-default .navbar-main > li > a {
				height: 81px;
				padding-left: 0;
				padding-right: 0;
				/*border-bottom: 4px solid #f9f9f9;*/
				font-size: 13px;
				font-weight: 400;
				line-height: 80px;
		       -webkit-transition: color 0.5s linear;
		        -moz-transition: color 0.5s linear;
		        -ms-transition: color 0.5s linear;
		        -o-transition: color 0.5s linear;
		        transition: color 0.5s linear;							
			}
			
			.navbar-default .navbar-main > li > a:hover {
				color: #e53212;
			}
			
			.navbar-default .navbar-main > li:last-child > a {			
				padding-right: 0;
			}
					
			.navbar-default .navbar-main > .active > a, .navbar-default .navbar-main > .active > a:hover {
				height: 73px;
				padding-left: 15px;
				padding-right: 15px;			
				color: white;
				background: #e53212;
				border-bottom: none;	
			}
			
			.navbar-default .navbar-main > li:last-child.active a {
				background: #779ecb!important;
				color: white!important;
				padding-right: 15px!important;				
			}
			
		/* Sub Navigation */
		.navbar-nav.navbar-right:last-child	{
			margin-right: 0;
		}
		
			.navbar-default .navbar-sub > li {
				margin-left: 15px;
			}
			
				.navbar-default .navbar-sub > li > a {
					font-family: 'Open Sans', sans-serif;
					font-size: 13px;
					padding: 3px 0 0 0;
					color: #909090;
				}				
				.navbar-default .navbar-sub > li > a:hover {
					color: #e53212;
				}	
	
				
/* HERO/WELCOME */
.hero {
	margin-bottom: 40px;	
}

	.hero h1 {
		font-size: 30px;
		font-weight: 100;
	}
	
	.hero .payoff {
		margin-top: 50px;
		text-align: right;
		font-size: 17px;
	}	
	
/* SEARCH */
.search {
	margin-bottom: 40px;
}
	.search .btn-group {
		padding-right: 1px;
	}	

/* SPOTLIGHT */
	.item {
		margin-bottom: 12px;
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.rs-0-5 { height: 131.5px; 	}
	.rs-1 	{ height: 275px; 	}
	.rs-1-5	{ height: 418.5px; 	}
	.rs-2	{ height: 562px; 	}

	
	/* Video */
	.video iframe {
		height: 275px;
	}	
		
	/* Testimonal */
	.rs-1-5.testimonial {
		position: relative;
	}
	
	.rs-2.testimonial .mask, .sidebar .testimonial .mask {
		height: 325px;
	}
	.rs-1-5.testimonial .mask {
		height: 235px;
	}
		.rs-1-5.testimonial .mask img {
			margin-top: -20%;
		}
			
	.rs-1-5.testimonial .name, .rs-1-5.testimonial .study {
		width: 80%;
		position: absolute;
		background: rgba(0,0,0, .4);
		color: rgba(255,255,255, .8);
	}
	.rs-1-5.testimonial .name {
		padding: 10px 10px 0px 10px;
		bottom: 232px;
		left: 25px;
	}	
	.rs-1-5.testimonial .study {
		padding: 0 10px 10px 10px;
		bottom:205px;
		left: 25px;
	}	
	.rs-1-5.testimonial blockquote {
		padding-top: 0;
	}	
	
	.rs-2.testimonial > span, .sidebar .testimonial > span {
		height: 237px;
		padding: 25px;
		border-left: 1px solid #ededed;
		border-right: 1px solid #ededed;
		border-bottom: 1px solid #ededed;				
	}
	.rs-1-5.testimonial > span {
		background: #fafafa;
		height: 185px;
	}
	
	/* Sidebar Testimonial */
	
	.sidebar .testimonial {
		position: relative;
		height: 250px;
		margin-bottom: 15px;
	}
	
		.sidebar .testimonial .mask {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	
			.sidebar .testimonial .mask img {
				width: 100%;
				height: auto;
				float: left;
				margin-top: -25%
			}
	
		.sidebar .testimonial > span {
			width: 90%;
			height: auto;
			position: absolute;
			left: 15px;
			bottom:15px;
			padding-bottom: 60px;
			background: rgba(0,0,0, 0.5);
			border: none;
		}
		
			.sidebar .testimonial .name 	{ color: white; }
			.sidebar .testimonial .study { color: rgba(255,255,255, 0.9); margin-bottom: 20px; }			
			
			.sidebar .testimonial .more-link, .sidebar.testimonial hr {
				color: white;
				border-color: white;
			}
			
			.sidebar .testimonial blockquote {
				display: none;
			}
			
			.sidebar .testimonial hr {
				margin-top: 10px;
				margin-bottom: 7px;
				border-top-color: rgba(255,255,255, 0.6)!important;
			}	
	
	.sidebar.col-md-3 .widget-news .mask {
		display: none;
	}

	.sidebar.col-md-3 .widget-news .msg {
		width: 100%;
		float: right;
	}
	
		
		
	/* Blogpost */
	.blogpost {
		padding: 25px 25px 25px 135px;
	}	
	
		.blogpost aside {
			width: 105px;
			height: 100%;
			position: absolute;
			top:0;
			left: 0;
			background: #779ecb;
		}
		
		.blogpost .more-link {
			left: 135px;
		}
		
/* TOPTAKEN */
.ctas {
	padding-bottom: 30px;
}
.sidebar .ctas {
	padding-bottom: 0;
}

	.ctas > .col-md-4 {
		padding-left: 6px;
		padding-right: 6px;
	}	
	
	.sidebar .cta {
		margin-bottom: 7px;
	}	
	
		.cta > div:first-of-type {
			width: 11%;
			height: 40px;
			padding-left: 0;;
			border-right: 1px solid #ccc;
		}
		
	
	.ctas > .col-md-4:first-of-type { padding-left: 0; }
	.ctas > .col-md-4:last-of-type  { padding-right: 0; }	
			

/* CLUSTERS */
.clusters {
	padding-top: 30px;
	padding-bottom: 60px;
}
	.cluster {
		width: 276px;
		height: 276px;
		margin-right: 12px;
		padding: 0;
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;		
	}
	.clusters div:nth-child(5), .clusters div:nth-child(9), .clusters div:nth-child(13) {
		margin-right: 0;
	}
	
		.cluster .cl-fi {
			width: 100%;
			height: auto;
			position: absolute;
			z-index: -1;
		}
		
/* WIDGET */
.secundary .widget {
	height: 700px;
}	
.sidebar .widget {
	margin-bottom: 10px;
}

.widget-filters {
	padding-left: 0;
	padding-top: 0;
}	

/* ---------------------------------- DETAIL ----------------------------------*/
.summary {
	margin-top: 0;	
}	

	aside.col-md-3 {
		padding: 0!important;
	}
		aside .cta > div > i {
			font-size: 18px
		}
		
		aside .cta {
			padding: 15px 20px;
			margin-bottom: 12px;
		}
		
			aside .cta span {
				text-transform: uppercase;
			}
		
			aside .cta i {
				top:24px;
			}
			
			aside .cta > div:first-of-type {
				border: none;
			}
			
			aside .cta > div:last-of-type {			
				border-left:1px solid rgba(255,255,255, .6)
			}
			
	aside .testimonial .mask {
		height: 220px
	}	
	
/* EDUCATION */
.edu {
	height: auto;
	position: relative;
	overflow: hidden;
}			

	.edu figure {
		overflow: hidden;		
	}

	.edu figure.compact {
		height: 100%;
		position: absolute;
		top:0;
		left: 0;
	}
	
	.edu figure.full-width {
		width: 108%;
		height: 300px;
		float: left;
		margin-left: -25px;
		margin-top: -25px;
		margin-bottom: 30px;
	}
		.edu figure.full-width .spec {
			width: 40%;
			left: 10px;
			bottom: 10px;
		}	
		
			.edu figure.full-width .spec .nametag {
				padding: 30px;
				font-size: 15px;
			}		
	
		.edu figure img {
			width: 100%;
			min-height: 100%;			
			height: auto;
		}
		
		.edu figure .spec {
			width: 85%;
			left: 10px;
			bottom: 10px;
		}
		
			.edu figure .spec .nametag {
				width: 100%;
				padding: 15px;
				font-size: 13px;
			}		

	.edu .edu-intro {
		min-height: 150px;
		height: auto;
		float: left;
	}
	
		.edu .edu-intro h3 {
			margin-bottom: 5px;
		}
			
		.edu .edu-intro span {
			width: 60%;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		
		.edu-intro p {
			height: 96px;
			overflow: hidden;
		}	
		
		ul.educations li > a {
			width: 40px;
			height: 40px;
			position: absolute;
			right: 15px;
			bottom: 29px;
			text-align: center;
		}
		
.edu-detail .sidebar .widget {
	background: #fafafa;
}		
.edu-detail .sidebar .widget.widget-contact {
	padding-bottom: 30px!important;
}
.edu-detail .sidebar .widget.widget-contact input[type=text]{
	background: white;
}
		
/* MAGAZINE */

	.magazine-item h3 {
		padding: 50px 50px 25px 50px;
	}
	.magazine-item.single-item h3 {
		font-size: 27px;
		line-height: 36px;
	}

	.magazine-item figure {
		max-height: 350px;
	}	
	
	.magazine-item > div {
		padding: 0px 50px 80px 50px;
	}	
		
	.magazine-item > div img {
		width: 250px;
	}	
	
/* Search Result */
.searched-item > div {
	padding-left: 15px!important;
}
.searched-item p {
	height: 74px;
	overflow: hidden;
}

.searched-item figure {
	height: 140px;
}

/* Testimonial overview */
.testimonial-overview .testimonial {
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;	
}	

/* TESTIMONIAL DETAIL */
.intro-visual {
	width:100%;
	height: 500px;
	float: left;
	margin-bottom: 30px;
	position: relative;
	background-position: center top;
	background-size:100% auto;
}

	.intro-visual blockquote {	
		width: 400px;
		height: auto;
		position: absolute;
		left: 25px;
		bottom: 25px;
		background: rgba(0,0,0, .4);
		color: white;
		border-left: 0;
		padding: 25px;
	}	
	
	
/* NEWS & EVENTS */
.news-events article.news-item figure {
	width: 150px;
}	

	.event-item .date {
		width: 75px;
		height: 80px;
		padding: 10px 5px 5px 5px;
		text-align: center;
		position: absolute;
		top:0;
		left: -75px;
		font-size: 39px;
		color: white;
		font-size: 30px;
		font-weight: 100;
	}
	
		.event-item .date small, .news-events-detail .date small {
			width: 100%;
			float: left;
			margin-top: -7px;
			font-size: 12px;
			text-transform: uppercase;
		}
		
		
/* LANDING */
.grid {
	margin-bottom: 70px;
}

.content-landing .square {
	height: 224px;
}		

.content-landing .hero {
	height: 460px;
	padding: 40px;
}	
	

/* FAQ Overview */
.faq-category {

}		

/* End mediaquery */	
}