@media all and (max-width:767px) {



.spotlight .blogpost .more-link {
	background: rgba(0,0,0, .2);	
}	

/* HEADER */
header + .container {
	margin-top: 30px;		
}

	
	.navbar-brand img {
		width: 80px;
		height: auto;
		float: left;
	}
	
	/* NAVIGATION */

	/* Main navigation */
	.navbar-default .navbar-main > li {
		border-bottom: 1px solid #ededed;
	}
	.navbar-default .navbar-main > li:last-child {
		border-bottom: none;
	}
	
		.navbar-default .navbar-main > li > a > i {
			position: absolute;
			right: 15px;
			top: 14px;			
		}		
	
	
	/* Sub navigation */
	.navbar-default .navbar-sub {
		background: #f6f6f6
	}	
	
/* BREADCRUMBS */
.breadcrumbs a { display: none; }
.breadcrumbs a:last-of-type, .breadcrumbs a:nth-of-type(2) {
	display: block;
}	
.breadcrumbs a:nth-of-type(2) {
	padding-left: 0;
}

.field {
	margin-top: 44px;
}
	
	
/* ---------------------------------- HOME ----------------------------------*/	
	
	
/* HERO/WELCOME */
.hero {
	margin-bottom: 30px;
}

	.hero h1 {
		font-size: 18px;
		line-height: 25px;
	}
	
	.hero .payoff {
		text-align: left;
		font-size: 14px;
		margin-top: 5px;
	}	
	
.widget-container .search .btn-group {
	margin-bottom: 5px;
	padding-right: 0;
}
	.widget-container .search {
		margin-bottom: 20px;
	}	
	
	
/* SPOTLIGHT */
	/* Article */
	.article {
		padding: 0;
	}	
	
		.article article {
			padding-bottom: 60px;
		}
		
	/* Testimonial */
	.testimonial {
		position: relative;
	}
	
.testimonial.full-width {
	margin-top: 25px;
	overflow: hidden;
}

	.testimonial.full-width figure {
		width: 120%;
		height: 250px;
		float: left;
		position: inherit;
		margin-left: -20px;
		margin-top: -20px;
	}
	
		.testimonial.full-width figure img	{
			width: 100%;
			height: auto;
			float: left;
		}
	
	.testimonial.full-width div.quote {
		width: 100%;
		font-size: 14px;
		margin-top: 20px;
		margin-left: 0;
	}
	.testimonial.full-width small {
		width: 100%;
		margin-left: 0;		
		float: left;	
		font-size: 12px;	
	}
	
		.testimonial .mask img {
			width: 100%;
			height: auto;
			float: left;
		}
		
		.sidebar .testimonial, .secundary .testimonial {
			width: 100%;
			float: left;
			position: relative;
			margin-bottom: 20px;
		}
		.sidebar .testimonial blockquote, .secundary .testimonial blockquote {
			color: white;
		}
	
		.testimonial > span {
			width: 90%;
			height: auto;
			position: absolute;
			left: 15px;
			bottom:15px;
			padding-bottom: 80px;
			background: rgba(0,0,0, 0.5);
		}
		
			.testimonial .name 	{ color: white; }
			.testimonial .study { color: rgba(255,255,255, 0.9); }			
			
			.testimonial .more-link, .testimonial hr {
				color: white;
				border-color: white;
				background: none
			}
			
			.testimonial hr {
				display: none!important;
				margin-top: 10px;
				margin-bottom: 7px;
				border-top-color: rgba(255,255,255, 0.6)!important;
			}	
			
	/* Blogpost */
	.blogpost {
		padding: 25px 25px 60px 25px;
		background: #fcaa27;
	}	
	
			.blogpost .more-link, .blogpost hr, .blogpost h3, .blogpost p {
				color: white;
				border-color: white!important;
			}		
			.blogpost p {
				font-size: 14px;
			}
			
	/* Photo */
	.rs-2.photo img {
		width: 100%;
		height: auto;
	}	
	
		.rs-2.photo span {
			width: 85%;
			font-size: 19px;
			padding: 20px;
			line-height: 29px;
		}				
	
	.spotlight-v2 .news-event {
		padding-left: 0;
	}
	
		.spotlight-v2 .news-event figure img, .spotlight-v2 .news-event figure {
			width: 100%;
			min-height: auto!important;
			height: auto!important;
		}
		
		.video iframe	{
			min-height: 235px;
		}
	
/* CTAS */
	.ctas {
		width: 100%;
		margin-bottom: 12px;
		float: left;
	}
	aside.ctas {
		padding-right: 0;
	}

	.cta:first-of-type {
		margin-top: 10px;
	}

	.ctas > .col-xs-12 {
		padding:0;
		margin-bottom: 7px;
	}	
	
			.cta > div:first-of-type {
				width: 13%;
				height: auto;
				padding-left: 0;;
			}
			
			.cta > div:last-of-type {
				border-left: 1px solid #ccc;			
			}
			
		.cta > i {
			right:15px;
			top:21px;
			font-size: 18px;
		}		

/* CLUSTERS */	
.cluster {
	margin-bottom: 10px;
	padding: 0;
}

	.cluster a img {
		width: 100%;
		height: auto;
	}


/* WIDGETS */

.widget {
	padding: 15px;
	margin-bottom: 12px;
}

	.widget-news article .mask {
		width: 50px;
		height: 50px;
	}
	
	.widget-news article .msg .meta {	
		margin-bottom: 0;
	}

	.widget .more-link {
		left: 15px;
	}	
	
	
/* ---------------------------------- END HOME ----------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------- DETAIL ----------------------------------*/	
	
	
/* Education List */
.edu {
	padding: 15px 15px 30px 15px;
}

	.edu figure {
		margin-bottom: 20px;
		padding-right: 0;
		overflow: hidden;
	}
	.edu figure.full-width {
		position: relative;		
	}
		.edu figure.full-width img {
			float: right;
			margin-right: -20%;
		}	
	
	.edu figure img {
		min-width: 100%;
	}

		ul.educations li {
			width: 100%;
			height: auto;
			float: left;
			position: relative;
			padding: 20px 10px 10px 10px;
			list-style: none;
			margin-top: 10px;
			border-top:5px solid #ededed;			
		}
		ul.educations li:first-child {
			border-top: none;
			padding-top: 10px;
		}
		
		ul.educations li > a {
			width: 250px;
			height: 40px;
			color: white;
			line-height: 40px;
		}

			ul.educations li a span {
				float: left;
			}		

			ul.educations li > a i {
				position: inherit;
				float: right;
				margin-top: 12px;
				font-size: 17px;
			}		
			
		ul.educations li:nth-child(even) {
			background: none;
			margin-bottom: 20px;
		}
		
		ul.educations li h3 {
			width: 100%;
			height: auto;
			float: left;		
			margin-bottom: 15px;
		}
		
			ul.educations li h3 a {
				color: #dd0e53;		
				line-height: 24px;		
			}
		
			ul.educations li h3 a:hover {
				text-decoration: underline;
			}		
		
		ul.educations .details {
			padding: 0;
			border:0;
			padding-top: 15px;
			padding-bottom: 15px;			
			margin-top: 10px;
			margin-bottom: 15px;
			border-top: 1px solid #ededed;
			border-bottom: 1px solid #ededed;			
		}

			ul.educations .details span {
				width: 100%;
				height: auto;
				float: left;
			}
			ul.educations .details span {
				margin-bottom: 10px;
				font-size: 12px;			
			}
			
			ul.educations .details span i, ul.educations .details span small {
				float: left;
			}	

			ul.educations .details span i {
				width: 20px;
				margin-top: 3px;
				color: #dd0e53
			}

			ul.educations .details span small {	
				width: 34%;
				font-size: 12px;
				color: #909090;
			}
			
.summary > div {
	height: auto!important;
}			
			
/* MAGAZINE DETAIL PAGE */
.magazine-item > div, .magazine-item > h3 {
	padding: 30px;
}
.magazine-item > h3 {
	padding-bottom: 0;
}
.magazine-item > div img {
	width: 100%;
	height: auto;
}	
	.magazine-item iframe {
		padding-top: 30px;
	}		


.news-earlier article {
	margin-bottom: 0;
	border-bottom: 1px solid #ededed;
}
	.news-earlier article h3 {
		font-size: 13px;
		font-weight: normal;
	}		
	
/* CLUSTER OVERVIEW PAGE */	
.intro-large br {
	display: none;
}

.intro-large aside {
	padding-left: 0;
}	
.nametag {
	font-size: 14px;
}

/* CONTENT PAGE */

.sidemenu {
	margin-bottom: 35px;
}

.content-page .btn-group {
	padding: 0;	
}
.content-page .btn-group, .content-page .btn-group button {
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: black
}
.content-page .btn-group button {
	font-weight: bold;
	text-align: left;
}
.content-page .btn-group button:hover {
	background: white;
	color: black;
	text-decoration: none;
}
.content-page .btn-group button .caret {
	float: right;
	margin-top: 13px;
}


.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.open > .dropdown-menu {
	width: 100%;
}

	.open > .dropdown-menu > li {
		width: 100%;
		float: left;
		border-bottom: 1px solid #ededed;
	}
	.open > .dropdown-menu > li:last-child {
		border-bottom: none;
	}	

	.open > .dropdown-menu li a {
		padding: 12px 15px;
	}
	
	.open > .dropdown-menu li ul {
		padding-bottom: 15px;
	}
	
		.open > .dropdown-menu li ul li, .open > .dropdown-menu li ul li a {
			width: 100%;
			float: left;
			list-style: none;
		}	
		
		.open > .dropdown-menu li ul li a {
			text-indent: 20px;
			color: #555;
		}
		
				.open > .dropdown-menu li ul li a i {
					float: right;
					margin-top: 3px;
				}

.content-page .btn-group.open button {
	margin-bottom: 0;
}


.content-page .btn-group button:hover {
	border: 1px solid #ededed;
}

.btn-group.open button { 
	background: #C6002A!important;
	border: none!important;
	color: white!important;
	font-weight: bold;
	text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background: white!important;
	color: #C6002A!important
}

.form-group {
	margin-bottom: 25px;
}
	form label {
		line-height: normal;
	}
	
	input + input {
		padding-right: 0!important;
	}
	
	.form-group i {
		top:37px;
	}
	
	input[type=submit] {
		float: left;
	}
	

/* TESTIMONIAL PAGE */
.testimonial-overview .mix {
	padding: 0!important;
}

	.testimonial-overview  .testimonial > span {
		width: 100%;
		float: left;
		position: relative!important;
		left: inherit;
		right: inherit;
	}
	.testimonial-overview .testimonial .mask {
		width: 100%;
		height: auto;
		float: left;
		overflow: hidden!important;
	}
	.testimonial-overview .testimonial .mask img {
		width: 100%;
		height: auto!important;
	}
	
			.testimonial-overview  .testimonial span.name {
				color: #C6002A
			}
			
			.testimonial-overview  .testimonial span.study, .testimonial-overview  .testimonial blockquote {
				color: black;
			}
			
			.testimonial-overview  .testimonial blockquote {
				display: block!important;
			}
			
			
	.testimonial-overview .more-link {
		background: #779ECB;
		color: white!important;
	}

.phone-filters {
	width: 100%;
	float: left;
	background: #fafafa;
	margin-bottom: 30px;
	display: block!important;
	border: 1px solid #ededed;
}
.phone-filters span {
	width: 100%;
	float: left;
	padding: 15px 20px;;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Frutiger-bc';
	font-size: 15px;	
}
.phone-filters span:hover {
	cursor: pointer;
}
.phone-filters .filters {
	display: none;
	width: 100%;
	float: left;
	padding: 15px 20px;
	border-top: 1px solid #ededed;	
}


/* TESTIMONIAL DETAIL */
.intro-visual {
	width:100%;
	height: 300px;
	float: left;
	margin-bottom: 20px;
	position: relative;
	background-position: right top;
	background-size:auto 100%;
}

	.intro-visual blockquote {	
		width: 90%;
		height: auto;
		position: absolute;
		left: 5%;
		bottom: 20px;
		margin-bottom: 0;
		background: rgba(0,0,0, .4);
		color: white;
		border-left: 0;
		padding: 25px;
	}	
	
	.secundary .col-lg-3 {
		padding: 0;
	}
	
	.secundary .testimonial .mask, .secundary .testimonial > span {
		height: 100px;
		float: left;	
	}

	.secundary .testimonial .mask {
		width: 30%;
	}
	
		.secundary .testimonial .mask img {
			min-width: 100%;
			width: 100%;
			height: auto;
		}
	
	.secundary .testimonial > span {
		position: relative;
		left: inherit;
		bottom: inherit;
		width: 70%;
		padding: 20px;
	}
	
	.secundary .testimonial .name {
		color: #C6002A;
		font-size: 18px;
	}	
	
	.secundary .testimonial .study {
		color: black;
	}	
	
	.secundary .testimonial .more-link {
		width: 35px;
		height: 35px;
		font-size: 0;
		right: 0;
		left: inherit;
		bottom: 0px;
		background: #2a6496;
		text-align: center;
	}
	
		.secundary .testimonial .more-link hr {
			display: none;
		}

		.secundary .testimonial .more-link i {
			font-size: 17px;
			float: none;
			display: inline-block;
			margin-left: 0;
			margin-top: 9px;
		}
		
/* NEWS & EVENTS */
.news-events .page-content {
	border: none;
}
.news-events article.news-item .body {
	padding: 0;
}

.news-events article.news-item figure {
	padding: 5px;
	border: 1px solid #ededed;
	background: #fafafa;
	margin-bottom: 20px;
}

	.news-events article.news-item figure img {
		width: 100%;
		height: auto;
	}	

.event-item {
	margin-top: 40px;
}			

	.event-item .date {
		left: 0;
		top: -40px;
		padding: 10px 20px;
		font-size: 14px;
		color: white;
	}
	
	.date small {
		width: auto!important;
		float: none;
		text-transform: none;
		font-size: 14px;		
	}
	
.event-item.compact {
	margin-top: 0;
}	

	.event-item.compact .date {
		width:16.666666666666664%;
		padding: 13px 0 15px 0;
		height: 100%;
		float: none;
		font-size: 30px;
		font-weight: 100;
		position: absolute;
		text-align: center;
		
	}
		
	.event-item.compact .date small {
		width: 100%!important;
		float: left;
		margin-top: -5px;
		font-size: 12px;
		text-align: center;
		left: 0;
		text-transform: uppercase;
	}	
	
/* Landing */
.content-landing .grid {
	margin-bottom: 25px;
}

	.content-landing .hero h1 {
		font-size: 24px;
		line-height: 35px;
	}

	.content-landing .square {
		height: 250px;
	}
	.content-landing .square.hero {
		height: auto!important;
		padding: 25px;
	}
	
.content-landing .articles article {
	margin-bottom: 25px;	
	border-bottom: 1px solid #ededed;
}	
.content-landing .articles article:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

	.quicklinks ul li {
		padding: 5px 10px;
	}
		.quicklinks ul li a {
			width: 100%;
			float: left;
			padding: 15px;
			background: #fafafa;
			border: 1px solid #ededed;
		}
		
			.quicklinks ul li a i {
				float: right;
			}	
			
/* FAQ page */
.faq-popular ul li {
	width: 100%;
	float: left;
	margin-top: 15px;
	padding-left: 0;
	padding-right: 0;
}

	.faq-popular .faq-category ul li h3 {
		height: auto;
		font-size: 18px;
	}			
	
	.faq-popular .faq-category ul li p {
		font-size: 15px;
	}	
	
	
/* SEARCH RESULT */
.search-result {
	background: #fafafa!important;
}
.search-meta {
	margin-top: 20px;
	font-weight: bold;
}	

.searched-item {
	padding: 20px!important;
	background: white;
}


	
/* Event Detail */
.news-events-detail .meta {
	margin-top: 20px;
	background: none;
	border: none;
}

	.news-events-detail .date {
		clear: right;
		height: auto;
		padding-bottom: 15px;
	}
	
	.news-events-detail .data {
		background: #fafafa;
		padding: 30px!important;
	}
	
	.news-events-detail .date {
		max-width: 100px;
	}

		.news-events-detail .date small	{
			width: 100%!important;
			float: left;
			margin-top: -10px;
			text-transform: uppercase;
		}
	
	.news-events-detail .pagetitle {
		padding-left: 20px!important;
	}
	
	
footer .container > div {
	padding-left: 0;
}	

footer .container div.col-xs-12:last-of-type {
	margin-top: 10px;
	padding-left: 0;
} 
footer .container div.col-xs-12:last-of-type h6 {
	display: none;
}
	

/* HELP CLASSES */
.no-padding-xs {
	padding-left: 0!important;
	padding-right: 0!important;
}
	
	
/* End Mediaquery */	
}