@media all and (min-width:768px) and (max-width:1023px) {

.col-xs-offset-2 {
	margin-left: 0!important;
}


a.more-link {
	font-size: 17px;
}

.navbar-toggle {
	margin-right: 0px;
}

.col-sm-1	{ width: 8.33333333% }
.col-sm-2	{ width: 16.66666667% }
.col-sm-3	{ width: 25% }
.col-sm-4	{ width: 33.33333333% }
.col-sm-5 	{ width:41.66666666666667%}
.col-sm-6 	{ width:50% }
.col-sm-7 	{ width:58.333333333333336% }
.col-sm-8 	{ width:66.66666667% }
.col-sm-9 	{ width:75% }
.col-sm-10 	{ width:83.33333333% }
.col-sm-11 	{ width:91.66666667% }
.col-sm-12	{ width: 100% }

.hidden-sm {
	display: none!important;
}

/* HEADER */
header + .container {
	margin-top: 30px;		
}

	
	.navbar-brand img {
		width: 105px;
		height: auto;
		float: left;
	}
	
	/* NAVIGATION */
	
	.navbar-toggle {
		margin-top: 15px;
		margin-bottom: 15px;
	}	

	/* Main navigation */
	.navbar-default .navbar-main > li {
		border-bottom: 1px solid #ededed;
	}
	.navbar-default .navbar-main > li:last-child {
		border-bottom: none;
	}
	
		.navbar-default .navbar-main > li > a > i {
			position: absolute;
			right: 15px;
			top: 14px;			
		}		
	
	
	/* Sub navigation */
	.navbar-default .navbar-sub {
		background: #f6f6f6
	}	
	
/* BREADCRUMBS */
.breadcrumbs a { display: none; }
.breadcrumbs a:last-of-type, .breadcrumbs a:nth-of-type(2) {
	display: block;
}	
.breadcrumbs a:nth-of-type(2) {
	padding-left: 0;
}

.field {
	margin-top: 44px;
}

/* LAYOUT */
aside.col-sm-12, .page-content {
	width: 100%;
}
aside {
	padding: 0!important;
}
	
	
/* ---------------------------------- HOME ----------------------------------*/	
	
	
/* HERO/WELCOME */
.hero {
	margin-top: 15px;
	margin-bottom: 40px;
}

	.hero h1 {
		font-size: 28px;
		line-height: 37px;
	}
	
	.hero .payoff {
		margin-top: 50px;
		text-align: right;
		font-size: 17px;	
	}	
	
/* SEARCH */
.search {
	margin-bottom: 40px;
}

	.search .btn-group {
		width: 49.5%;
		padding-right: 0px;
		margin-bottom: 10px;
	}	
	.search .btn-group + .btn-group {
		float: right;
	}	
	
	
/* SPOTLIGHT */
	.item {
		height: 250px;
		margin-bottom: 8px;
	}
	
	.item.col-sm-12 {
		height: auto!important;
	}	
		.item.video iframe {
			min-height: 430px;
		}

	/* Article */
	.article {
		padding-left: 0;
		padding-right: 8px;
	}	
	
		.article article {
			padding-bottom: 60px;
		}
		
	/* Testimonial */
	.spotlight.default .testimonial span blockquote {
		display: none;		
	}
	.testimonial {
		position: relative;
	}
	
	
	
	.sidebar .testimonial.col-sm-12 {
		padding-right: 0!important;
		background: #fafafa;		
	}
	
		.sidebar .testimonial.col-sm-12	.mask {
			width: 50%;
		}
		.sidebar .testimonial.col-sm-12 > span {
			width: 50%;
			height: 100%;
			left: inherit!important;
			bottom: inherit!important;
			float: left!important;
			position: relative!important;
			background: none;
			padding: 50px
		}		
		.sidebar .testimonial.col-sm-12 span.name, .sidebar .testimonial.col-sm-12 span.study, .sidebar .testimonial.col-sm-12 blockquote {
			color: black;
		}
		.sidebar .testimonial.col-sm-12 span.name {
			font-size: 42px;
		}		
		.sidebar .testimonial.col-sm-12 span.study {
			font-size: 17px;
		}		
		.sidebar .testimonial.col-sm-12 blockquote {
			font-size: 17px;
			line-height: 31px;
		}		
		.sidebar .testimonial.col-sm-12 a.more-link {
			color: black;
			left: 50px!important;
		}	
	
		/* Sidebar Testimonial */	
		.sidebar .testimonial {
			height: auto;
			overflow: hidden;
			float: left;
			position: relative;
		}
			.sidebar .testimonial > span {
				width: 100%;
				background: #333;
				float: left;
				position: relative;
				bottom: 0!important;
				left: 0;
			}	
	
			.sidebar .testimonial blockquote {
				color: white;
			}
	
	.testimonial.full-width {
		margin-top: 25px;
	}
	.testimonial.full-width div.quote	{
		font-size: 17px;
	}
	
		.testimonial .mask {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	
			.testimonial .mask img {
				width: 100%;
				height: auto;
				float: left;
				margin-top: -15%;
			}
	
		.testimonial > span {
			width: 90%;
			height: auto;
			position: absolute;
			left: 15px;
			bottom:15px;
			padding-bottom: 60px;
			background: rgba(0,0,0, 0.5);
		}
		
		
			.testimonial .name 	{ color: white; }
			.testimonial .study { color: rgba(255,255,255, 0.9); margin-bottom: 20px; }			
			
			.testimonial .more-link, .testimonial hr {
				color: white;
				border-color: white;
			}
			
			.testimonial hr {
				margin-top: 10px;
				margin-bottom: 7px;
				border-top-color: rgba(255,255,255, 0.6)!important;
			}
						
						
	/* Blogpost */
	.blogpost {
		padding: 25px 25px 60px 25px;
		background: #fcaa27;
	}	
	
	.blogpost aside {
		display: none;
	}
	
			.blogpost .more-link, .blogpost hr, .blogpost h3, .blogpost p {
				color: white;
				border-color: white!important;
			}		
			.blogpost p, article p {
				font-size: 14px;
			}	

	/* photo */		
	.photo {
		padding-left: 8px;
		padding-right: 0;
	}					
	
		.photo.rs-1 img {
			min-height: 100%;
			min-width: 100%;
		}
		
	.photo.rs-2 img {
		width: 100%;
		height: auto!important;
	}	
	
	/* NEWS & EVENTS */
	.news-event	{
		padding-left: 0;
	}
		.news-event figure {
			height: 170px;
			overflow: hidden;
		}		
			.news-event figure img {
				width: 100%;
				min-height: 100%;
			}	
			
		.news-event	span {
			min-height: 170px;			
		}
			.news-event span small	{
				font-size: 14px;
			}

			.news-event span a	{
				font-size: 22px;
			}

.sidebar {
	padding-left: 0;
}
	
	
/* CTAS */

	.cta {
		height: auto;
		padding: 15px 20px;
	}

	.sidebar .cta:nth-child(1), .sidebar .cta:nth-child(2) {
		margin-bottom: 10px;
	}
	.sidebar .cta:last-of-type {
		margin-bottom: 0;
	}
	
	.cta span {
		font-size: 20px;
	}
	
	.cta small {
		font-size: 15px;
		color: #555;
	}


	.cta:first-of-type {
		margin-top: 10px;
	}
	.sidebar .cta:first-of-type {
		margin-top: 0;
	}	


	.ctas > .col-xs-12 {
		padding:0;
		margin-bottom: 7px;
	}	
	
			.cta > div:first-of-type {
				width: 13%;
				height: auto;
				padding-left: 0;;
			}
			
			.cta > div:last-of-type {
				border-left: 1px solid #ccc;			
			}
		
		.cta > div > i	{
			right:15px;
			top:21px;
			font-size: 33px;
		}	
		
	.sidebar .ctas.col-sm-12 .cta span 	{ font-size: 28px; }		
	.sidebar .ctas.col-sm-12 .cta small { font-size: 17px; }			
	.sidebar .ctas.col-sm-12 .cta i 	{ top:34px; font-size: 29px; }	

/* CLUSTERS */	
.cluster {
	width: 50%!important;
	height: 340px;
	margin-bottom: 10px;
}
.cluster:nth-child(odd) {
	padding-right: 0!important;
}

.spec {
	width: 90%;
}

.cluster:nth-child(odd) .spec {
	width: 93.5%;
}

.cluster {
	padding-left: 0!important;
}


	.cluster img.cl-fi {
		width: 100%;
		height: auto;
	}


/* WIDGETS */
.secundary .widget-container:nth-child(1) .widget, .secundary .widget-container:nth-child(2) .widget {
	/*height: 515px;*/
}

.secundary > .container > div:nth-child(2) {
	padding-right: 0;
}


.widget-container {
	margin-bottom: 20px;
}

.widget {
	padding: 25px 25px 85px 25px!important;
}

.widget .more-link {

}
.sidebar .widget a.more-link {
	display: none!important;
}

.widget-persona {
	padding-bottom: 25px!important;
}


/*.sidebar .widget.col-sm-6:nth-child(1n+2) {
	width: 49%!important;	
}
.sidebar .widget.col-sm-6:nth-child(3), .sidebar .widget.col-sm-6:nth-child(5) { 
	float: right;
}

.sidebar .widget.widget-faq article:nth-child(4) {
	display: none;
}

	.sidebar > div:nth-child(odd) {
		padding-left: 0!important
	}

	.sidebar > div:nth-child(even) {
		padding-left: 0!important
	}
*/

	.sidebar .widget-heading {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.sidebar .widget h4 {
		font-size: 16px;
		margin-bottom: 3px;
	}
	.sidebar .widget-faq article a {
		font-size: 14px;
	}

	.widget-news article .mask {
		width: 50px;
		height: 50px;
	}
	
	.widget-news article .msg .meta {	
		margin-bottom: 0;
	}

	.widget .more-link {
		left: 25px;
	}	
	
	.widget-contact .widget-heading {
		width: 50%;
	}

	.widget-contact > div:first-of-type {
		padding-right: 20px!important;
	}
	.widget-contact > div:last-of-type {
		padding-left: 20px!important;
		border-left: 1px solid #ededed;
	}
	.widget-contact {
		padding-bottom: 25px!important;
		margin-bottom: 0;
	}
	
	.widget-banner {
		padding: 0!important;
	}
	
	.sidebar .widget-contact .col-sm-6 {
		width: 100%!important;
	}
	
	.sidebar .widget-contact hr {
		display: block!important;
	}
	
	.sidebar .widget-contact > div:last-of-type {
		padding-left: 0!important;
		border-left: 0;
	}
	
	
	
/* ---------------------------------- END HOME ----------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------*/




/* ---------------------------------- DETAIL ----------------------------------*/	

	.summary >div:last-of-type li span {
		font-size: 13px;
	}

	.summary li span:first-of-type {

	}
	
	.summary li span i {
		display: none;
	}
	
	
	
/* Education List */
.edu-overview .page-content {
	padding-right: 0;	
}

.edu {
	overflow: hidden;
}

	.edu figure {
		overflow: hidden;		
	}
	
	.edu figure.full-width {
		width: 108%;
		height: 300px;
		float: left;
		margin-left: -25px;
		margin-top: -25px;
		margin-bottom: 30px;
	}
	
		.edu figure img {
			width: 100%;			
			height: auto;
		}
		.edu figure.compact img {
			width: 100%;
			height: auto;
			float: right			
		}
		.edu figure.full-width img {		
			margin-top: -5%;
		}
		
		.edu figure.full-width .spec {
			width: 40%;
			left: 39px;
			bottom: 39px;
		}
		
			.edu figure .spec .nametag {
				width: 100%;
				padding: 15px;
				font-size: 13px;
			}	
	
	.edu figure .spec {
		width: 85%;
		left: 10px;
	}
	
		.edu figure .spec .nametag {
			width: 100%;
			font-size: 13px;
		}
	
	.edu .edu-intro .btn-avans {
		font-size: 14px;
	}
	
		.edu-intro p {
			height: 96px;
			overflow: hidden;
		}	
	

	.edu figure.compact {
		height: 100%;
		position: absolute;
		top:0;
		left: 0;
	}
	
 		.edu figure.compact img{	
 		
 		}


ul.educations li {
	padding: 40px 20px 60px 20px;
	margin-bottom: 20px;
}
ul.educations li > a i {
	float: right;
	margin-top: 10px;
}
ul.educations li:first-child {
	padding-top: 10px;
}

ul.educations li > a {
	position: absolute;
	left: 15px;
	bottom: 15px;
}

.edu > span, .edu .details {
	height: 115px;
}
.edu .details {
	border-right: none!important;
}	

	
 .no-padding-left-sm {
	 padding-left: 0;
 }
 
/* CONTENTPAGE */
.content-page .page-content {
	border-bottom: 1px solid #ededed;
	padding-bottom: 30px;
}
.content-page aside {
	padding-left: 0;
}
.content-page + footer {
	border-top:1px solid #ededed;
}


.content-page .btn-group {
	padding: 0;	
}

.content-page .btn-group, .content-page .btn-group button {
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: black
}
.content-page .btn-group button {
	font-weight: bold;
	text-align: left;
}
.content-page .btn-group button:hover {
	background: white;
	color: black;
	text-decoration: none;
}
.content-page .btn-group button .caret {
	float: right;
	margin-top: 13px;
}


.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.open > .dropdown-menu {
	width: 100%;
}

	.open > .dropdown-menu > li {
		width: 100%;
		float: left;
		border-bottom: 1px solid #ededed;
	}
	.open > .dropdown-menu > li:last-child {
		border-bottom: none;
	}	

	.open > .dropdown-menu li a {
		padding: 12px 15px;
	}
	
	.open > .dropdown-menu li ul {
		padding-bottom: 15px;
	}
	
		.open > .dropdown-menu li ul li, .open > .dropdown-menu li ul li a {
			width: 100%;
			float: left;
			list-style: none;
		}	
		
		.open > .dropdown-menu li ul li a {
			text-indent: 20px;
			color: #555;
		}
		
				.open > .dropdown-menu li ul li a i {
					float: right;
					margin-top: 3px;
				}

.content-page .btn-group.open button {
	margin-bottom: 0;
}


.content-page .btn-group button:hover {
	border: 1px solid #ededed;
}

.btn-group.open button { 
	background: #C6002A!important;
	border: none!important;
	color: white!important;
	font-weight: bold;
	text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background: white!important;
	color: #C6002A!important
}
 	



 
footer .container div.col-xs-12:last-of-type {
	margin-top: 10px;
	padding-left: 0;
} 
footer .container div.col-xs-12:last-of-type h6 {
	display: none;
}

/* MAGAZINE DETAIL PAGE */
.magazine-item > div, .magazine-item > h3 {
	padding: 30px;
}
.magazine-item > div {
	padding-bottom: 60px;
}
	.magazine-item > div a.more-link {
		left: 30px;
	}
	
.magazine-item > h3 {
	padding-bottom: 0;
}
.magazine-item iframe {
	padding-top: 30px;
}


/* SEARCH PAGE */
.search-meta {
	margin-bottom: 30px;
}
.search-result .search {
	margin-bottom: 30px;
}

.searched-item figure {
	height: 170px;
}

.searched-item figure img {
	height: auto!important;
	min-height: inherit!important;
}

/* TESTIMONIAL PAGE */
.testimonial-overview .page-content {
	padding-left: 0;
}

.testimonial-overview .testimonial {
	height: auto!important;
}

	.testimonial-overview  .testimonial > span {
		width: 100%;
		float: left;
		position: relative!important;
		left: inherit;
		right: inherit;
	}
	.testimonial-overview .testimonial .mask {
		width: 100%;
		height: 300px;
		float: left;
		overflow: hidden!important;
	}
	.testimonial-overview .testimonial .mask img {
		width: 100%;
		height: auto!important;
	}
	
			.testimonial-overview  .testimonial span.name {
				color: #C6002A
			}
			
			.testimonial-overview  .testimonial span.study, .testimonial-overview  .testimonial blockquote {
				color: black;
			}
			
			.testimonial-overview  .testimonial blockquote {
				display: block!important;
			}
			
			.testimonial-overview  .testimonial .more-link {
				color: #2a6496!important;
			}
			
/* TESTIMONIAL DETAIL */
.intro-visual {
	width:100%;
	height: 350px;
	float: left;
	margin-bottom: 20px;
	position: relative;
	background-position: right top;
	background-size:100% auto;
	background-repeat: no-repeat;
}

	.intro-visual blockquote {	
		width: 45%;
		height: auto;
		position: absolute;
		left: 2%;
		bottom: 20px;
		margin-bottom: 0;
		background: rgba(0,0,0, .4);
		color: white;
		border-left: 0;
		padding: 25px;
	}
	
.secundary .testimonial {
	height: auto!important;
}

.secundary .testimonial .mask {
	height: 300px;
	overflow: hidden;
} 
	.secundary .testimonial .mask img {
		width: 100%;
		min-height: 250px!important;
		float: left;
		margin-top: 0;
	}

.secundary .testimonial > span {
	width: 100%;
	float: left;
	position: relative;
	background: #fff;
	padding-bottom: 40px;
	bottom: 0;
	left: 0;
	height: 220px;
	overflow: hidden;
}	
	.secundary .testimonial span blockquote{
		font-size: 13px;
		padding-right: 0;
		color: black;
		display: block!important;
	}	
	
	.secundary .testimonial .name {
		color: #C6002A;
		font-size: 18px;
	}	
	
	.secundary .testimonial .study {
		color: black;
		margin-bottom: 5px;
	}	
	
	.secundary .testimonial .more-link {
		color: #2a6496;
		left: 25px;
		bottom: 25px;
		font-size: 15px;
	}			
	
				

.phone-filters {
	width: 100%;
	float: left;
	background: #fafafa;
	margin-bottom: 30px;
	display: block!important;
	border: 1px solid #ededed;
}
.phone-filters span {
	width: 100%;
	float: left;
	padding: 15px 20px;;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Frutiger-bc';
	font-size: 15px;	
}
.phone-filters span:hover {
	cursor: pointer;
}
.phone-filters .filters {
	display: none;
	width: 100%;
	float: left;
	padding: 15px 20px;
	border-top: 1px solid #ededed;	
}

/* NEWS & EVENTS */
.events {
	padding-left: 0;
}

.news-events .page-content {
	border: none;
}

	.event-item .date {
		width: 75px;
		height: 80px;
		padding: 10px 5px 5px 5px;
		text-align: center;
		position: absolute;
		top:0;
		left: -75px;
		font-size: 39px;
		color: white;
		font-size: 30px;
		font-weight: 100;
	}
	.event-item.compact .date {
		width: 75px;
		height: 80px;
		padding: 10px 5px 5px 5px;
		text-align: center;
		position: absolute;
		top:0;
		left: -75px;
		font-size: 39px;
		color: white;
		font-size: 30px;
		font-weight: 100;		
	}
	
		.event-item .date small {
			width: 100%;
			float: left;
			margin-top: -7px;
			font-size: 12px;
			text-transform: uppercase;
		}	

/* Landing */

.content-landing .grid {
	margin-bottom: 40px;
}

	.content-landing .square {
		height: 250px;
	}
	.content-landing .square.hero {
		height: auto!important;
		padding: 40px;
	}	
	
.content-landing .articles article {
	padding: 0 0 15px 0;
	margin-bottom: 25px;	
	border-bottom: 1px solid #ededed;
}	
.content-landing .articles article:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.quicklinks .article-title {
	padding-left: 0;
}
	.quicklinks ul li {
		padding: 10px;
	}
		.quicklinks ul li a {
			width: 100%;
			float: left;
			padding: 15px;
			background: #fafafa;
			border: 1px solid #ededed;
		}
		
			.quicklinks ul li a i {
				float: right;
			}
			
/* FAQ page */
.faq-popular ul li {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}

	.faq-popular .faq-category ul li h3 {
		height: auto;
		font-size: 18px;
	}			
	
	.faq-popular .faq-category ul li p {
		font-size: 15px;
	}
	
/* Event Detail */
.news-events-detail .meta {
	background: none;
	border: none;
}

	.news-events-detail .date {
		clear: right;
		height: auto;
		padding-bottom: 15px;
	}
	
	.news-events-detail .data {
		background: #fafafa;
		padding: 30px!important;
	}	

	
/* End Mediaquery */	
}