@media all and (min-width:1024px) and (max-width:1279px) {

.col-md-1	{ width: 8.33333333% }
.col-md-2	{ width: 16.66666667% }
.col-md-3	{ width: 25% }
.intro-large > .col-md-3 { width: 32%; }
.col-md-4	{ width: 33.33333333% }
.col-md-5 	{ width:41.66666666666667%}
.col-md-6 	{ width:50% }
.col-md-7 	{ width:58.333333333333336% }
.col-md-8 	{ width:66.66666667% }
.col-md-9 	{ width:75% }
.col-md-10 	{ width:83.33333333% }
.col-md-11 	{ width:91.66666667% }
.col-md-12	{ width: 100% }

.col-xs-offset-2 {
	margin-left: 0!important;
}

body > .page {
	width: 100%;
	background: #f4f4f4;
}
body > .content-page, .news-events, .content-landing, .news-events-detail {
	background: white!important;
}

	.page .page-content {
		background: white;
		padding: 30px!important;
		border: 1px solid #ededed;
	}
	.content-page .page-content {
		border: none;
		padding: 0 0 0 30px!important;
	}
	
	.page.magazine-overview .page-content, .news-events .page-content, .news-events-detail .page-content {
		background: none!important;
		padding: 0px!important;
		border: none!important;
	}

	.page aside {
		padding-right: 0;
	}
	
	.content-page aside {
		padding-left: 0;
		padding-right: 30px;
	}
	
	.content-page + footer {
		border-top: 1px solid #ededed;
	}
	

a.more-link {
	font-size: 17px;
}

/* HEADER */
header + .container {
	margin-top: 30px;		
}

	
	.navbar-brand img {
		width: 105px;
		height: auto;
		float: left;
	}
	
	/* NAVIGATION */
	
	.navbar-toggle {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	/* Main navigation */
	.navbar-default .navbar-main > li {
		border-bottom: 1px solid #ededed;
	}
	.navbar-default .navbar-main > li:last-child {
		border-bottom: none;
	}
	
		.navbar-default .navbar-main > li > a > i {
			position: absolute;
			right: 15px;
			top: 14px;			
		}		
	
	
	/* Sub navigation */
	.navbar-default .navbar-sub {
		background: #f6f6f6
	}	
	
/* BREADCRUMBS */
.breadcrumbs a { display: none; }
.breadcrumbs a:last-of-type, .breadcrumbs a:nth-of-type(2) {
	display: block;
}	
.breadcrumbs a:nth-of-type(2) {
	padding-left: 0;
}


.field {
	margin-top: 44px;
}
	
	
/* ---------------------------------- HOME ----------------------------------*/	
	
	
/* HERO/WELCOME */
.hero {
	margin-top: 15px;
	margin-bottom: 40px;
}

	.hero h1 {
		font-size: 28px;
		line-height: 37px;
	}
	
	.hero .payoff {
		margin-top: 50px;
		text-align: right;
		font-size: 17px;	
	}	
	
/* SEARCH */
.search {
	margin-bottom: 40px;
}

	.search .btn-group {
		width: 49.5%;
		padding-right: 0px;
		margin-bottom: 10px;
	}	
	.search .btn-group + .btn-group {
		float: right;
	}	
	
	.searchfield {
		width: 100%;
	}	
	
	
/* SPOTLIGHT */
	.item {
		height: 250px;
		margin-bottom: 8px;
	}
	.item.rs-md-2 {
		height: 516px;
	}
	
	.item.video {
		padding-left: 0!important;
	}	
		.item.video iframe {
			min-height: 250px;
		}
		
	.testimonial {
		position: relative;
		width: 30%;
	}
	.spotlight.default .testimonial {
		height: 250px;		
	}
	.spotlight.spotlight-v2 .testimonial {
		height: 258px;
		padding-left: 12px!important;
	}
	.testimonial.full-width {
		width: 100%;
		min-height: 120px;
		height: auto;
		margin-top: 15px;
		overflow: hidden;
	}
	.testimonial.full-width div.quote {
		width: 86%;
		font-size: 18px;
		padding-right: 190px;
	}
	
	.testimonial.full-width small {	
		width: 86%
	}
		.testimonial.full-width	figure {
			height: 123px;
		}
	
	
		.testimonial .mask {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	
			.testimonial .mask img {
				width: 100%;
				height: auto;
				float: left;
				margin-top: -25%
			}
	
		.testimonial > span {
			width: 90%;
			height: auto;
			position: absolute;
			left: 15px;
			bottom:15px;
			padding-bottom: 60px;
			background: rgba(0,0,0, 0.5);
		}
		.spotlight.spotlight-v2 .testimonial > span {
			left: 21px;
		}
		
			.testimonial .name 	{ color: white; }
			.testimonial .study { color: rgba(255,255,255, 0.9); margin-bottom: 20px; }			
			
			.testimonial .more-link, .testimonial hr {
				color: white;
				border-color: white;
			}
			
			.testimonial blockquote {
				display: none;
			}
			
			.testimonial hr {
				margin-top: 10px;
				margin-bottom: 7px;
				border-top-color: rgba(255,255,255, 0.6)!important;
			}	
			
	/* Sidebar Testimonial */
	
	.sidebar .testimonial {
		width: 100%;
		position: relative;
		height: 250px;
	}
	
		.sidebar .testimonial .mask {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	
			.sidebar .testimonial .mask img {
				width: 100%;
				height: auto;
				float: left;
				margin-top: -25%
			}
	
		.sidebar .testimonial > span {
			width: 90%;
			height: auto;
			position: absolute;
			left: 15px;
			bottom:15px;
			padding-bottom: 60px;
			background: rgba(0,0,0, 0.5);
			border: none;
		}
		
			.sidebar .testimonial .name 	{ color: white; }
			.sidebar .testimonial .study { color: rgba(255,255,255, 0.9); margin-bottom: 20px; }			
			
			.sidebar .testimonial .more-link, .sidebar.testimonial hr {
				color: white;
				border-color: white;
			}
			
			.sidebar .testimonial blockquote {
				display: none;
			}
			
			.sidebar .testimonial hr {
				margin-top: 10px;
				margin-bottom: 7px;
				border-top-color: rgba(255,255,255, 0.6)!important;
			}	
			

	/* Article */
	.spotlight.default .article {
		width: 58.33%;
		padding: 0 0 0 8px!important;
	}
	.spotlight.spotlight-v2 .article {
		width: 50%;
		padding-right: 0;
	}	
	
		.article article {
			padding-bottom: 60px;
		}
		
	/* Testimonial */

	/* Blogpost */
	.blogpost {
		padding: 25px 25px 60px 25px;
		background: #fcaa27;
	}	
	
	.blogpost aside {
		display: none;
	}	
	
			.blogpost .more-link, .blogpost hr, .blogpost h3, .blogpost p {
				color: white;
				border-color: white!important;
			}		
			.blogpost p, article p {
				font-size: 14px;
			}	
	/* Photo */		
	.photo {
		width: 27.5%;
		padding-left: 8px;
		padding-right: 0;
	}
	.photo.rs-2 {
		width: 50%;
		height: 516px;
	}
	
	/* News & Events */
	.news-event {
		width: 20%;
	}
		.news-event figure {
			display: none;
		}		
		
		.news-event span {
			width: 100%;
			height: 258px;
		}

	
	
/* CTAS */
.sidebar .ctas {
	margin-bottom: 15px;
	float: left;
}

.ctas > div {
	width: 100%;
}
	.cta {
		height: auto;
		padding: 15px 20px;
	}
	.sidebar .cta {
		height: auto;
	}
	
	.cta span {
		font-size: 20px;
	}
	.sidebar .cta span {
		font-size: 19px;
	}
	
	.cta small {
		font-size: 15px;
		color: #555;
	}
	.sidebar .cta small {
		font-size: 14px;
	}


	.ctas > .col-xs-12 {
		padding:0;
		margin-bottom: 7px;
	}	
	
			.cta > div:first-of-type {
				width: 13%;
				height: auto;
				padding-left: 0;;
			}
			
			.cta > div:last-of-type {
				border-left: 1px solid #ccc;			
			}
		
		.cta > div > i	{
			right:15px;
			top:21px;
			font-size: 33px;
		}
		.sidebar .cta > div > i {
			font-size: 22px;
		}		

/* CLUSTERS */	
.cluster {
	width: 33.3%!important;
	height: 295px;
	margin-bottom: 10px;
}
.clusters > .cluster:nth-child(4), .clusters > .cluster:nth-child(7), .clusters > .cluster:nth-child(10) {
	padding-right: 0!important;
}
.clusters > .cluster:nth-child(4) .spec, .clusters > .cluster:nth-child(7) .spec, .clusters > .cluster:nth-child(10) .spec {
	width: 91%;
}
.spec {
	width: 86%;
}

.cluster {
	padding-left: 0!important;
}


	.cluster img.cl-fi {
		width: 100%;
		min-height: 100%;
		height: auto;
	}


/* WIDGETS */
.secundary .widget-container .widget {
	height: 515px;
}
.secundary .widget-container:nth-child(2) {
	padding-left: 0;
}
.secundary .container .col-md-4:nth-child(2) {
	padding-left: 0!important;	
}


.widget {
	padding: 25px;
	margin-bottom: 25px;
}

	.sidebar .widget {
		padding-bottom: 25px!important;
	}
	.sidebar .widget a.more-link {
		float: left;
		position: relative!important;
		left: inherit!important;
		bottom: inherit!important;
		margin-top: 20px;
	}
	
		.sidebar .widget a.more-link i {
			display: none;
		}

	.widget-news article .mask {
		width: 50px;
		height: 50px;
	}
	
	.widget-news article .msg .meta {	
		margin-bottom: 0;
	}

	.widget .more-link {
		left: 25px;
	}
	
.sidebar .widget-news .mask {
	display: none;
}	

.widget-filters {
	padding-left: 0;
	padding-top: 0;
}		
		
	
	
/* ---------------------------------- END HOME ----------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------- DETAIL ----------------------------------*/	
.teaser, .panel-group .panel .panel-body p {
	font-size: 15px;
	line-height: 27px;
}
.panel-group .panel .panel-heading h4 a {
	font-size: 21px;
}

.summary > div {
	padding: 20px!important;
}
	.summary li span:first-of-type {

	}
	
	.summary >div:last-of-type li span {
		font-size: 13px;
	}
	
	
	
.details {
	width: 41%;
}	

/* Education List */
.edu-overview .page-content {
	background: none!important;
	padding: 0!important;	
	border: none;
}

.edu {
	overflow: hidden;
}



	.edu figure {
		overflow: hidden;		
	}
	
	.edu figure.full-width {
		width: 110%;
		height: 300px;
		float: left;
		margin-left: -25px;
		margin-top: -25px;
		margin-bottom: 30px;
	}
	
	.edu figure.compact {
		height: 100%;
		position: absolute;
		top:0;
		left: 0;
	}	
	
		.edu figure img {
			margin-left: -20%;
			float: left;
		}
		.edu figure.full-width img {
			margin-left: 0;
		}
		
		.edu figure.full-width .spec {
			width: 40%;
			left: 39px;
			bottom: 39px;
		}
		
			.edu figure .spec .nametag {
				width: 100%;
				padding: 15px;
				font-size: 13px;
			}	
	
	.edu figure .spec {
		width: 83%;
	}
	
		.edu figure .spec .nametag {
			width: 100%;
			font-size: 13px;
		}
	
	.edu .edu-intro .btn-avans {
		font-size: 14px;
	}
	
		.edu-intro p {
			height: 96px;
			overflow: hidden;
		}	
	




ul.educations li {
	padding: 30px 0px 60px 0px;
	border-bottom: 1px solid #ededed;
}
ul.educations li:last-child {
	border-bottom: 0;	
} 

	ul.educations .details span small, ul.educations .details span {
		font-size: 13px;
	}
	ul.educations li span p {
		font-size: 14px;
		line-height: 26px;
	}
	.edu > span, .edu .details {
		height: 125px;
	}
	.edu .details {
		border-right: none!important;
	}
	ul.educations li > a {
		padding: 0 20px;
		position: absolute;
		left: 0px;
		bottom: 15px;		
	}
	
	ul.educations li a span	{
		display: block!important;
	}
	
		ul.educations li > a i {
			float: right;
			margin-top: 11px;
		}
		
		ul.educations li:nth-child(even) {
			background: none;
		}
	
	
	
 .no-padding-left-sm {
	 padding-left: 0;
 }
 
 .page-sec-content {
	 width: 100%;
 }
 
 
/* SIDEBAR STYLES */ 


.sidebar {
	width: 32%
} 	
	
	
		footer ul.social li { 
			width: 54px;
			height: 54px;			
			
		}	
		
			footer ul.social li a {
				line-height: 59px;
			}
			
				footer ul.social li a i {
					float: none;
					font-size: 20px;
				}	
				
				
/* MAGAZINE */

	.magazine-item h3 {
		padding: 30px 30px 0px 30px!important;
	}
	.news-earlier .magazine-item h3 {
		padding: 15px!important;
	}
	.magazine-item.single-item h3 {
		font-size: 27px;
		line-height: 36px;
	}
	.magazine-item iframe {
		padding-top: 30px;
	}		
	
		.magazine-item .more-link {
			left: 30px;
			bottom: 110px;
		}	
		
/* SEARCH RESULT */
.searched-item {
	margin-bottom: 25px;
}

/* TESTIMONIAL OVERVIEW */
.testimonial-overview .sidebar {
	width: 25%!important;
	padding-left: 0;
}

.testimonial-overview .page-content {
	background: none!important;
	border: none!important;
	padding: 0 0 0 20px!important;
}

.testimonial-overview .testimonial {
	height: auto!important;
	width: auto!important;
}

	.testimonial-overview  .testimonial > span {
		width: 100%;
		float: left;
		position: relative!important;
		left: inherit;
		right: inherit;
	}
	.testimonial-overview .testimonial .mask {
		width: 100%;
		height: 250px;
		float: left;
		overflow: hidden!important;
	}
	.testimonial-overview .testimonial .mask img {
		width: 100%;
		height: auto!important;
	}
	
			.testimonial-overview  .testimonial span.name {
				color: #C6002A
			}
			
			.testimonial-overview  .testimonial span.study, .testimonial-overview  .testimonial blockquote {
				color: black;
			}
			
			.testimonial-overview  .testimonial blockquote {
				display: block!important;
			}
			
			.testimonial-overview  .testimonial .more-link {
				color: #2a6496!important;
			}

/* TESTIMONIAL DETAIL */
.summary {
	margin-top: 0;
}

.testimonial-detail .page-content {
	border: none;
	padding: 0 30px 0 0!important;
}

.intro-visual {
	width:100%;
	height: 350px;
	float: left;
	margin-bottom: 20px;
	position: relative;
	background-position: right top;
	background-size:100% auto;
}

	.intro-visual blockquote {	
		width: 45%;
		height: auto;
		position: absolute;
		left: 2%;
		bottom: 20px;
		margin-bottom: 0;
		background: rgba(0,0,0, .4);
		color: white;
		border-left: 0;
		padding: 25px;
	}	
	

.testimonial-detail + .secundary .container .col-md-4 {
	padding: 0 15px!important;
}

.secundary .testimonial {
	height: auto!important;
}

.secundary .testimonial .mask {
	height: 250px;
	overflow: hidden;
} 
	.secundary .testimonial .mask img {
		width: 100%;
		min-height: 250px!important;
		float: left;
		margin-top: 0;
	}

.secundary .testimonial > span {
	width: 100%;
	float: left;
	position: relative;
	background: #fff;
	padding-bottom: 40px;
	bottom: 0;
	left: 0;
	height: 220px;
	overflow: hidden;
}	
	.secundary .testimonial span blockquote{
		font-size: 13px;
		padding-right: 0;
		color: black;
		display: block;
	}	
	
	.secundary .testimonial .name {
		color: #C6002A;
		font-size: 18px;
	}	
	
	.secundary .testimonial .study {
		color: black;
		margin-bottom: 5px;
	}	
	
	.secundary .testimonial .more-link {
		color: #2a6496;
		left: 25px;
		bottom: 25px;
		font-size: 15px;
	}	

/* NEWS & EVENTS */
	.event-item .date {
		width: 75px;
		height: 80px;
		padding: 10px 5px 5px 5px;
		text-align: center;
		position: absolute;
		top:0;
		left: -75px;
		font-size: 39px;
		color: white;
		font-size: 30px;
		font-weight: 100;
	}
	.event-item.compact .date {
		width: 75px;
		height: 80px;
		padding: 10px 5px 5px 5px;
		text-align: center;
		position: absolute;
		top:0;
		left: -75px;
		font-size: 39px;
		color: white;
		font-size: 30px;
		font-weight: 100;		
	}
	
		.event-item .date small {
			width: 100%;
			float: left;
			margin-top: -7px;
			font-size: 12px;
			text-transform: uppercase;
		}	
		
/* LANDING */
.hero {
	margin-top: 0;
}		

.content-landing .grid {
	margin-bottom: 40px;
}

	.content-landing .hero h1 {
		font-size: 24px;
		line-height: 35px;
	}

	.content-landing .square {
		height: 199px;
	}
	.content-landing .square.hero {
		height: auto!important;
		padding: 40px;
	}
	
	.content-landing .eyecatcher span:first-of-type	 {
		font-size: 16px;
	}
	.content-landing .eyecatcher hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}	
	.content-landing .eyecatcher span {
		font-size: 13px;
	}
	
	.quicklinks ul li {
		padding: 5px 10px;
	}
		.quicklinks ul li a {
			width: 100%;
			float: left;
			padding: 15px;
			background: #fafafa;
			border: 1px solid #ededed;
		}
		
			.quicklinks ul li a i {
				float: right;
			}	
/* FAQ OVERVIEW */

.faq-overview {
	background: white!important;
}
.faq-overview .page-content {
	border: none!important;
	padding: 0!important;
}

.faq-overview aside {
	padding-top: 45px;
}


/* Event Detail */
.news-events-detail .meta {
	background: none;
	border: none;
}

	.news-events-detail .meta figure {
		display: none!important;
	}

	.news-events-detail .date {
		clear: right;
		height: auto;
		padding-bottom: 15px;
	}
	
	.news-events-detail .data {
		background: #fafafa;
		padding: 30px!important;
	}	
					
	
/* End Mediaquery */	
}